<style>

  #body2 {display: none;}

  @media screen and (min-width: 768px){
  #body2 {display: block;}
    
  }

 



  div.Styled__ReviewContainer-sc-9xruv0-1.hrTRjn svg path {fill: #f2c832;}
  div.Styled__StampWrapper-sc-t37658-3.cyVtcJ svg path  {fill: red;}
  
  
</style>


<div id="body2">

  <!DOCTYPE html>
  <html lang="pt-BR">
  <head>
    <title data-react-helmet="true">{{ product.title }} em Promoção na Americanas</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="mobile-web-app-capable", content="yes" />
    <meta charset="utf-8" />
    <meta name="version" content="3.0.572" />
    <link rel="dns-prefetch" href="www.google-analytics.com" crossorigin />
    <link rel="dns-prefetch" href="www.googletagmanager.com" crossorigin />
    <link rel="shortcut icon" href="https://images-americanas.b2w.io/catalog-statics/acom/favicon-americanas.ico" sizes="16x16" />
    
    <meta data-react-helmet="true" name="description" content="{{ product.title }} em promoção na Americanas. Encontre ofertas com os melhores preços e entrega rápida. Vem!"/><meta data-react-helmet="true" name="google-play-app" content="app-id=com.b2w.americanas"/><meta data-react-helmet="true" name="application-name" content="Americanas - Estamos aqui por você."/><meta data-react-helmet="true" name="theme-color" content="#E60014"/><meta data-react-helmet="true" property="og:title" content="{{ product.title }} em Promoção na Americanas"/><meta data-react-helmet="true" property="og:description" content="{{ product.title }} em promoção na Americanas. Encontre ofertas com os melhores preços e entrega rápida. Vem!"/><meta data-react-helmet="true" property="og:type" content="website"/><meta data-react-helmet="true" property="og:image" content="https://images-americanas.b2w.io/produtos/7285008275/imagens/smartphone-samsung-galaxy-s23-5g-violeta-128gb-8gb-ram-e-camera-tripla-de-50mp-12mp-10mp/7285008275_1_xlarge.jpg"/><meta data-react-helmet="true" property="og:image:alt" content="{{ product.title }} em Promoção na Americanas"/><meta data-react-helmet="true" property="og:locale" content="pt_BR"/><meta data-react-helmet="true" property="og:site_name" content="Americanas"/><meta data-react-helmet="true" property="al:ios:url" content="acom://produto/7285008275/smartphone-samsung-galaxy-s23-5g-violeta-128gb-8gb-ram-e-camera-tripla-de-50mp-12mp-10mp?pfm_carac=s23&amp;pfm_index=NaN&amp;pfm_page=search&amp;pfm_pos=grid&amp;pfm_type=search_page&amp;offerId=642ac4da579fbc8d91f00ad2&amp;buyboxToken=smartbuybox-acom-v2-f7f55c40-36f7-4c92-b9bc-b9fcbe7b66e9-2023-10-03%252015%253A26%253A36%25200000-none-default&amp;cor=Violeta&amp;voltagem=Bivolt&amp;condition=NEW"/><meta data-react-helmet="true" property="al:ios:app_store_id" content="americanas/id476307592"/><meta data-react-helmet="true" property="al:ios:app_name" content="Americanas"/><meta data-react-helmet="true" property="al:android:url" content="acom://produto/7285008275/smartphone-samsung-galaxy-s23-5g-violeta-128gb-8gb-ram-e-camera-tripla-de-50mp-12mp-10mp?pfm_carac=s23&amp;pfm_index=NaN&amp;pfm_page=search&amp;pfm_pos=grid&amp;pfm_type=search_page&amp;offerId=642ac4da579fbc8d91f00ad2&amp;buyboxToken=smartbuybox-acom-v2-f7f55c40-36f7-4c92-b9bc-b9fcbe7b66e9-2023-10-03%252015%253A26%253A36%25200000-none-default&amp;cor=Violeta&amp;voltagem=Bivolt&amp;condition=NEW"/><meta data-react-helmet="true" property="al:android:app_name" content="Americanas"/><meta data-react-helmet="true" property="al:android:package" content="com.b2w.americanas"/><meta data-react-helmet="true" property="al:web:url" content="https://www.americanas.com.br/produto/7285008275/smartphone-samsung-galaxy-s23-5g-violeta-128gb-8gb-ram-e-camera-tripla-de-50mp-12mp-10mp?pfm_carac=s23&amp;pfm_index=NaN&amp;pfm_page=search&amp;pfm_pos=grid&amp;pfm_type=search_page&amp;offerId=642ac4da579fbc8d91f00ad2&amp;buyboxToken=smartbuybox-acom-v2-f7f55c40-36f7-4c92-b9bc-b9fcbe7b66e9-2023-10-03%252015%253A26%253A36%25200000-none-default&amp;cor=Violeta&amp;voltagem=Bivolt&amp;condition=NEW"/>
    <link data-react-helmet="true" rel="preconnect" href="https://images-americanas.b2w.io" crossOrigin="true"/><link data-react-helmet="true" rel="preconnect" href="https://statics-americanas.b2w.io" crossOrigin="true"/><link data-react-helmet="true" rel="canonical" href="https://www.americanas.com.br/produto/7285008275/smartphone-samsung-galaxy-s23-5g-violeta-128gb-8gb-ram-e-camera-tripla-de-50mp-12mp-10mp"/>
    
    <!-- Google Tag Manager -->
    
    <!-- End Google Tag Manager -->
  
   
    <link data-chunk="catalogo-template-americanas-desktop-product" rel="stylesheet" href="https://statics-americanas.b2w.io/catalog-statics/acom/public/static/css/catalogo-template-americanas-mobile-product.7d4a9b17.chunk.css">
    
  </head>
  <body>
    
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDFX6WC"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  
    <div id="root"><div id="rsyswpsdk" wpconfig="{&quot;appserviceKey&quot;:&quot;BGQKZ7lABUM-0vOF2ENDL7SnKkV6uSvaIrhqsigdnyhbskVBWQ-xDH8vPeCuYl98GX2WFG6dogc0ZcOR0A92e94=&quot;,&quot;apiKey&quot;:&quot;ABEuf2rDNTJyKZZ9YBDky6-rs&quot;,&quot;accountToken&quot;:&quot;ABEjx7nVhaPPxF1qMtBaKwG6Y&quot;,&quot;appver&quot;:&quot;0.0.0&quot;,&quot;apiHost&quot;:&quot;https://api.pushio.com&quot;,&quot;lazy&quot;:true}"><div class="src__SkinUI-sc-1n4955m-0 kVILVJ"><div class="src__TopBanner-sc-q7wx4i-0 ijUFFf"><div data-position="topBanner"><div class="src__Wrapper-sc-1qaorq1-0 cPVNjE">
    
      
      
      
   
    
    
    
    </div></div></div>
      

        <main class="src__Container-sc-m79eh9-0 bcPhXp Product" color="#f1f1f1"><div style="display: none;" data-position="produto-top"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 iATwoW"><picture class="src__Picture-sc-xr9q25-2 jAziSf"><source srcSet="https://images-americanas.b2w.io/spacey/acom/2023/03/08/PDP-desk-RF-telefonia-generico-834594a0bc38.png" media="(min-width: 1024px)"/><img loading="lazy" src="https://images-americanas.b2w.io/spacey/acom/2023/03/08/PDP-desk-RF-telefonia-generico-834594a0bc38.png" alt="pdp" class="src__LazyImage-sc-xr9q25-0 epkVxo"/></picture></div></div></div><div class="breadcrumb__BreacrumbContainer-sc-uft652-0 ekWsdH"><div class="styles__Wrapper-sc-170sob9-0 jXyjzx"><ul class="styles__List-sc-170sob9-1 jfHxCf"><li class="styles__ListItem-sc-170sob9-2 kLKska"><a href="#" class="styles__Link-sc-170sob9-4 bTQLfs">página inicial</a><svg viewBox="0 0 18 11" aria-labelledby="setinha1Icon setinha1Desc" class="styles__Arrow-sc-170sob9-3 fATATd"><title>icone de setinha</title><path fill="inherit" d="M2.1 0L0 2.1 9 11l9-8.9L15.9 0 9 6.8 2.1 0z"></path></svg></li><li class="styles__ListItem-sc-170sob9-2 kLKska"><a href="#" class="styles__Link-sc-170sob9-4 bTQLfs">{{ product.title }}</a><svg viewBox="0 0 18 11" aria-labelledby="setinha1Icon setinha1Desc" class="styles__Arrow-sc-170sob9-3 fATATd"><title>icone de setinha</title><path fill="inherit" d="M2.1 0L0 2.1 9 11l9-8.9L15.9 0 9 6.8 2.1 0z"></path></svg></li></ul></div></div><div style="background: #FFF;
    border: 1px solid #FFF;
    border-top-left-radius: 24px; border-top-right-radius: 24px;" class="old__Container-sc-1vze115-0 gPxzvr"><div style="background: transparent;" class="product-info__Container-sc-evc6bz-3 hoegbM"><div class="product-info__ProductInfoContainer-sc-evc6bz-4 gjqGFS">{% render "img2" %}<div style="display: none;"  id="123445" class="product-info__Cell-sc-evc6bz-2 enRBik"><div class="share-and-wishlist__Wrapper-sc-pvygud-0 faAMxh"><div class="src__Wrapper-sc-1u9ae8m-0 cYYwQw"><button class="src__Button-sc-1u9ae8m-2 jNkemI"><svg width="25px" height="25px" viewBox="0 0 36 36" aria-labelledby="heartFavoriteFullIcon heartFavoriteFullDesc" xmlns="http://www.w3.org/2000/svg" class="src__FavoriteHeartIcon-sc-1u9ae8m-1 jrXmuv"><path d="M18.068 11.097c1.23-1.352 3.24-2.113 5.163-1.921 2.698.27 4.519 2.287 4.519 5.574 0 2.689-3.085 6.63-9.254 12.063a.75.75 0 01-.985.006C11.342 21.507 8.25 17.556 8.25 14.75c0-3.287 1.821-5.304 4.52-5.574 1.921-.192 3.932.57 5.162 1.92l.068.076.068-.075z"></path><circle cx="18" cy="2" r="1"></circle><circle cx="34" cy="18" r="1"></circle><circle cx="18" cy="34" r="1"></circle><circle cx="2" cy="18" r="1"></circle><circle cx="6" cy="6" r="1"></circle><circle cx="6" cy="30" r="1"></circle><circle cx="30" cy="6" r="1"></circle><circle cx="30" cy="30" r="1"></circle></svg></button><button class="src__Title-sc-1u9ae8m-3 eVOofH">favoritar</button></div><div class="src__Wrapper-sc-v4fqxn-2 bPskMn"><div><div class="src__WrapperOpen-sc-v4fqxn-4 AWZob"><button value="facebook" class="src__IconButton-sc-v4fqxn-5 hpJyjj"><svg aria-labelledby="facebookTitle facebookDesc" viewBox="0 0 34 64" width="24" height="24" fill="#666"><title>Compartilhar no facebook</title><path fill="inherit" d="M32 35l1-12H22l-.04-6.83c0-3.3 1.32-5.17 6.04-5.17h6V0h-9.16C16.15 0 10 5.26 10 15v8H0v12h10v29h12V35h10z"></path></svg></button><button value="twitter" class="src__IconButton-sc-v4fqxn-5 hpJyjj"><svg aria-labelledby="twitterTitle twitterDesc" viewBox="0 0 64 52.01" width="24" height="24" fill="#666"><title>Compartilhar no twitter</title><path fill="inherit" d="M64 6.16a26.247 26.247 0 01-7.54 2.07A13.16 13.16 0 0062.23.97a26.19 26.19 0 01-8.33 3.19C51.5 1.59 48.09 0 44.31 0c-7.25 0-13.13 5.88-13.13 13.13 0 1.03.12 2.03.34 2.99-10.91-.54-20.58-5.77-27.06-13.72C3.33 4.34 2.68 6.6 2.68 9c0 4.55 2.32 8.57 5.84 10.93-2.15-.06-4.17-.66-5.94-1.64v.17c0 6.36 4.53 11.67 10.53 12.88-1.1.3-2.26.46-3.46.46-.85 0-1.68-.08-2.47-.24 1.67 5.22 6.52 9.01 12.27 9.12A26.337 26.337 0 013.14 46.3c-1.06 0-2.1-.07-3.13-.18 5.81 3.72 12.71 5.9 20.13 5.9 24.15 0 37.35-20.01 37.35-37.36 0-.56-.01-1.13-.03-1.7 2.55-1.86 4.77-4.17 6.54-6.8z"></path></svg></button><button value="whatsapp" class="src__IconButton-sc-v4fqxn-5 fBiJeu"><svg aria-labelledby="whatsappTitle whatsappDesc" viewBox="0 0 100 100" width="24" height="24" fill="#666"><title>Compartilhar no whatsapp</title><path fill="inherit" d="M39.435 60.855c9.35 9.825 16.284 15.627 20.803 17.409 6.848 2.7 13.394.373 17.756-3.988 4.361-4.362 7.778-6.92-1.344-14.444-11.121-9.947-9.386-.046-15.532 1.844-3.27 1.214-8.06-1.695-14.368-8.727l-.095.095c-6.806-6.17-9.611-10.866-8.416-14.087 1.89-6.147 11.791-4.411 1.844-15.533-7.524-9.121-10.082-5.705-14.443-1.343-4.362 4.361-6.688 10.908-3.989 17.756 1.8 4.565 7.704 11.595 17.712 21.09l.072-.072zM27.942 92.306L0 99.856l8.585-26.199c-4.215-7.238-6.63-15.654-6.63-24.635C1.955 21.948 23.903 0 50.978 0 78.052 0 100 21.948 100 49.022c0 27.075-21.948 49.023-49.022 49.023a48.807 48.807 0 01-23.036-5.739z"></path></svg></button><button value="pinterest" class="src__IconButton-sc-v4fqxn-5 fBiJeu"><svg aria-labelledby="pinterestTitle pinterestDesc" viewBox="0 0 49.54 64" width="24" height="24" fill="#666"><title>Compartilhar no pinterest</title><path fill="inherit" d="M26.27 0C8.81 0 0 12.52 0 22.97c0 6.32 2.39 11.95 7.53 14.04.84.35 1.6.01 1.84-.92.17-.64.57-2.27.75-2.95.25-.92.15-1.24-.53-2.05-1.48-1.74-2.43-4-2.43-7.21 0-9.29 6.95-17.61 18.1-17.61 9.87 0 15.3 6.03 15.3 14.09 0 10.6-4.69 19.55-11.65 19.55-3.84 0-6.72-3.18-5.8-7.08 1.11-4.66 3.25-9.68 3.25-13.05 0-3.01-1.62-5.52-4.96-5.52-3.93 0-7.09 4.07-7.09 9.52 0 3.47 1.17 5.82 1.17 5.82s-4.02 17.05-4.73 20.03c-1.4 5.95-.21 13.23-.11 13.97.06.44.62.54.88.21.36-.47 5.05-6.25 6.64-12.03.45-1.63 2.59-10.1 2.59-10.1 1.28 2.44 5.01 4.58 8.98 4.58 11.82 0 19.83-10.77 19.83-25.19C49.55 10.15 40.31 0 26.27 0z"></path></svg></button></div><button class="src__Button-sc-v4fqxn-0 fXLpER"><svg viewBox="0 0 19 20" aria-labelledby="shareIcon shareDesc" fill="#888" width="20" height="20"><title>icone de compartilhamento</title><path fill="inherit" d="M15 14.12c-.76 0-1.44.3-1.96.77l-7.13-4.15c.05-.23.09-.46.09-.7 0-.24-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L5.04 7.85c-.54-.5-1.25-.81-2.04-.81-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92 0-1.61-1.31-2.92-2.92-2.92zm0-12.08c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm-12 9c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm12 7.02c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z"></path></svg></button><div class="src__Overlay-sc-v4fqxn-3 fMwcoe"></div></div><p class="src__Title-sc-v4fqxn-1 bnFDKr">compartilhar</p></div></div><div class="styles__Container-sc-f3wl50-0 jNtYoO"><div class="styles__Gallery-sc-f3wl50-1 fgJjOs"><div class="main-image__Container-sc-1i1hq2n-1 iCNHlx"><div class="src__Wrapper-sc-xr9q25-1 ebFfaU"><picture class="src__Picture-sc-xr9q25-2 jAziSf"><source srcSet="https://images-americanas.b2w.io/produtos/7285008275/imagens/smartphone-samsung-galaxy-s23-5g-violeta-128gb-8gb-ram-e-camera-tripla-de-50mp-12mp-10mp/7285008291_1_large.jpg" media="(min-width: 1024px)"/><img src="https://images-americanas.b2w.io/produtos/7285008275/imagens/smartphone-samsung-galaxy-s23-5g-violeta-128gb-8gb-ram-e-camera-tripla-de-50mp-12mp-10mp/7285008291_1_large.jpg" alt="{{ product.title }}" class="src__LazyImage-sc-xr9q25-0 eoRxRL"/></picture></div></div><div class="thumb-gallery__Container-sc-1cm9lgf-0 cgyBix"><button src="https://images-americanas.b2w.io/produtos/7285008275/imagens/smartphone-samsung-galaxy-s23-5g-violeta-128gb-8gb-ram-e-camera-tripla-de-50mp-12mp-10mp/7285008291_1_small.jpg" selected="" class="thumb__Container-sc-183f83g-0 dGYGDz"><img src="https://images-americanas.b2w.io/produtos/7285008275/imagens/smartphone-samsung-galaxy-s23-5g-violeta-128gb-8gb-ram-e-camera-tripla-de-50mp-12mp-10mp/7285008291_1_small.jpg" alt="{{ product.title }} - Imagem 1" class="thumb__ThumbImage-sc-183f83g-2 jXNxOn"/><div class="thumb__OpenModal-sc-183f83g-1 fYBnCB">+</div></button><button src="https://images-americanas.b2w.io/produtos/7285008275/imagens/smartphone-samsung-galaxy-s23-5g-violeta-128gb-8gb-ram-e-camera-tripla-de-50mp-12mp-10mp/7285008291_2_large.jpg" class="thumb__Container-sc-183f83g-0 dGCEUW"><img src="https://images-americanas.b2w.io/produtos/7285008275/imagens/smartphone-samsung-galaxy-s23-5g-violeta-128gb-8gb-ram-e-camera-tripla-de-50mp-12mp-10mp/7285008291_2_large.jpg" alt="{{ product.title }} - Imagem 2" class="thumb__ThumbImage-sc-183f83g-2 jXNxOn"/><div class="thumb__OpenModal-sc-183f83g-1 fYBnCB">+</div></button><button src="https://images-americanas.b2w.io/produtos/7285008275/imagens/smartphone-samsung-galaxy-s23-5g-violeta-128gb-8gb-ram-e-camera-tripla-de-50mp-12mp-10mp/7285008291_3_large.jpg" class="thumb__Container-sc-183f83g-0 dGCEUW"><img src="https://images-americanas.b2w.io/produtos/7285008275/imagens/smartphone-samsung-galaxy-s23-5g-violeta-128gb-8gb-ram-e-camera-tripla-de-50mp-12mp-10mp/7285008291_3_large.jpg" alt="{{ product.title }} - Imagem 3" class="thumb__ThumbImage-sc-183f83g-2 jXNxOn"/><div class="thumb__OpenModal-sc-183f83g-1 fYBnCB">+</div></button><button src="https://images-americanas.b2w.io/produtos/7285008275/imagens/smartphone-samsung-galaxy-s23-5g-violeta-128gb-8gb-ram-e-camera-tripla-de-50mp-12mp-10mp/7285008291_4_large.jpg" class="thumb__Container-sc-183f83g-0 dGCEUW"><img src="https://images-americanas.b2w.io/produtos/7285008275/imagens/smartphone-samsung-galaxy-s23-5g-violeta-128gb-8gb-ram-e-camera-tripla-de-50mp-12mp-10mp/7285008291_4_large.jpg" alt="{{ product.title }} - Imagem 4" class="thumb__ThumbImage-sc-183f83g-2 jXNxOn"/><div class="thumb__OpenModal-sc-183f83g-1 fYBnCB">+</div></button><button src="https://images-americanas.b2w.io/produtos/7285008275/imagens/smartphone-samsung-galaxy-s23-5g-violeta-128gb-8gb-ram-e-camera-tripla-de-50mp-12mp-10mp/7285008291_5_large.jpg" class="thumb__Container-sc-183f83g-0 dGCEUW"><img src="https://images-americanas.b2w.io/produtos/7285008275/imagens/smartphone-samsung-galaxy-s23-5g-violeta-128gb-8gb-ram-e-camera-tripla-de-50mp-12mp-10mp/7285008291_5_large.jpg" alt="{{ product.title }} - Imagem 5" class="thumb__ThumbImage-sc-183f83g-2 jXNxOn"/><div class="thumb__OpenModal-sc-183f83g-1 fYxYEo">+<!-- -->4</div></button></div></div></div></div><div class="product-info__Cell-sc-evc6bz-2 enRBik"><h1 class="product-title__Title-sc-15fh86r-0 iYwPCy">{{ product.title }}</h1>  <div class="product-info__WrapperRating-sc-evc6bz-5 bZHHCp" style="
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 5px;
"><a href="#card-reviews-title" style="
    text-decoration: none;
    color: rgb(102, 102, 102);
"><div class="src__Container-sc-gi2cko-0 QMaCg" style="
    display: flex;
    -webkit-box-align: center;
    align-items: center;
"><div width="110" height="22" class="src__Wrapper-sc-sagiey-0 cRGsil" style="
    width: 110px;
    height: 22px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
"><div class="src__FilledStars-sc-sagiey-1 eueACI" style="
    z-index: 1;
    width: 96%;
    overflow: hidden;
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    height: 100%;
"><svg height="22" viewBox="0 0 50 50" width="22" style="
    margin-right: 0px;
"><polygon fill="#f2c832" points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 "></polygon></svg><svg height="22" viewBox="0 0 50 50" width="22"><polygon fill="#f2c832" points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 "></polygon></svg><svg height="22" viewBox="0 0 50 50" width="22"><polygon fill="#f2c832" points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 "></polygon></svg><svg height="22" viewBox="0 0 50 50" width="22"><polygon fill="#f2c832" points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 "></polygon></svg><svg height="22" viewBox="0 0 50 50" width="22"><polygon fill="#f2c832" points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 "></polygon></svg></div><div class="src__GrayStars-sc-sagiey-2 cSHDAZ" style="
    display: inline-block;
    white-space: nowrap;
    height: 100%;
"><svg height="22" viewBox="0 0 50 50" width="22" style="
    margin-right: 0px;
"><polygon fill="#ccc" points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 "></polygon></svg><svg height="22" viewBox="0 0 50 50" width="22" style="
    margin-right: 0px;
"><polygon fill="#ccc" points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 "></polygon></svg><svg height="22" viewBox="0 0 50 50" width="22" style="
    margin-right: 0px;
"><polygon fill="#ccc" points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 "></polygon></svg><svg height="22" viewBox="0 0 50 50" width="22" style="
    margin-right: 0px;
"><polygon fill="#ccc" points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 "></polygon></svg><svg height="22" viewBox="0 0 50 50" width="22"><polygon fill="#ccc" points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 "></polygon></svg></div></div><span font-size="14" class="src__RatingAverageStyle-sc-gi2cko-2 biDJrW" style="
    color: rgb(87, 87, 87);
    font-weight: bold;
    font-size: 14px;
    padding-top: 1px;
    margin: 0px 3px;
"><span id="result9">0</span></span><span font-size="14" class="src__Count-sc-gi2cko-1 laMxpU" style="
    font-size: 14px;
    color: rgb(113, 113, 113);
    text-decoration: underline;
    margin-left: 3px;
    text-transform: lowercase;
"><span id="result10"></span></span></div></a><a href="#qna-wrapper" font-size="14" class="qna-anchor__Link-sc-yjeyyj-0 kbcMnd" style="
    text-decoration: underline;
    color: rgb(113, 113, 113);
    font-size: 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 8px;
    text-transform: lowercase;
"><svg viewBox="0 0 16 16" class="qna-anchor__IconQuestion-sc-yjeyyj-1 ittRRU" style="
    margin-right: 6px;
    width: 16px;
    height: 16px;
"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.65 11.95L.3 16l4.396-1.156A7.715 7.715 0 101.65 11.95zm5.817-2.17a.377.377 0 01-.377-.37c-.062-.908.261-1.49 1.12-2.008.8-.492 1.043-.812 1.043-1.407V5.99c0-.614-.478-1.049-1.18-1.049-.715 0-1.182.48-1.219 1.139a.058.058 0 01-.058.05H5.228a.064.064 0 01-.064-.063c.05-1.503 1.112-2.609 3.02-2.609 1.772 0 2.953 1.01 2.953 2.474v.007c0 .959-.454 1.63-1.33 2.16-.827.493-1.057.813-1.057 1.42a.262.262 0 01-.262.262h-1.02zm1.5 2.06c0 .562-.453 1.003-1.019 1.003a1.003 1.003 0 110-2.008c.566 0 1.02.442 1.02 1.004z" fill="#6A6A6A"></path></svg>faça a 1ª pergunta</a></div> <div style="display: none;" class="product-info__WrapperRating-sc-evc6bz-5 bZHHCp"><div width="110" height="22" class="src__Wrapper-sc-sagiey-0 cRGsil"><div class="src__FilledStars-sc-sagiey-1 cCwvXj"><svg height="22" viewBox="0 0 50 50" width="22"><polygon fill="#f2c832" points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 "></polygon></svg><svg height="22" viewBox="0 0 50 50" width="22"><polygon fill="#f2c832" points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 "></polygon></svg><svg height="22" viewBox="0 0 50 50" width="22"><polygon fill="#f2c832" points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 "></polygon></svg><svg height="22" viewBox="0 0 50 50" width="22"><polygon fill="#f2c832" points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 "></polygon></svg><svg height="22" viewBox="0 0 50 50" width="22"><polygon fill="#f2c832" points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 "></polygon></svg></div><div class="src__GrayStars-sc-sagiey-2 cSHDAZ"><svg height="22" viewBox="0 0 50 50" width="22"><polygon fill="#f2c832" points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 "></polygon></svg><svg height="22" viewBox="0 0 50 50" width="22"><polygon fill="#f2c832" points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 "></polygon></svg><svg height="22" viewBox="0 0 50 50" width="22"><polygon fill="#f2c832" points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 "></polygon></svg><svg height="22" viewBox="0 0 50 50" width="22"><polygon fill="#f2c832" points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 "></polygon></svg><svg height="22" viewBox="0 0 50 50" width="22"><polygon fill="#f2c832" points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 "></polygon></svg></div></div>   <a href="/avaliacao/7285008275" font-size="14" class="src__Link-sc-gi2cko-3 eqnklp"><span font-size="14" class="src__RatingAverageStyle-sc-gi2cko-2 biDJrW" style="
    color: rgb(87, 87, 87);
    font-weight: bold;
    font-size: 14px;
    padding-top: 1px;
    margin: 0px 3px;
">4.4</span>


<span font-size="14" class="src__Count-sc-gi2cko-1 laMxpU" style="
    font-size: 14px;
    color: rgb(113, 113, 113);
    text-decoration: underline;
    margin-left: 3px;
    text-transform: lowercase;
">(<!-- -->2316 avaliações<!-- -->)</span></a></div><div></div> <div style="display: none;" class="badges__Grid-sc-17ldrra-0 dyHVkX" style="
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 5px;
"><div class="badge__Container-sc-j4f1xa-0 fkqbCW" style="
    display: flex;
    min-height: 20px;
    border-radius: 4px;
    background: rgb(238, 238, 238);
    margin-right: 10px;
"><div class="badge__Flexbox-sc-j4f1xa-1 kRJbkg" style="
    display: flex;
"><div class="badge__Cell-sc-j4f1xa-2 kZcuwH" style="
    display: flex;
    flex: 1 1 auto;
    min-height: 1px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
"><svg viewBox="0 0 16 26.1" aria-labelledby="brandIcon brandDesc" fill="#f80032" height="15" width="25"><path d="M0 0h16v3.1H0zm0 23h16v3.1H0zm9.4-11.9c-.3.1-.7.2-1.3.3l-1.2.1c-1.3.2-2.3.4-3 .8-1.2.7-1.8 1.9-1.8 3.5 0 1.2.4 2.2 1.1 2.9.8.7 1.7 1 2.9 1 .9 0 1.7-.2 2.5-.6.6-.4 1.2-.8 1.6-1.3 0 .3.1.6.1.8 0 .2.1.5.2.7h3.7v-.5c-.2-.1-.4-.2-.5-.4-.1-.2-.2-.5-.2-.9V10c0-1.6-.6-2.6-1.7-3.2-1-.5-2.3-.8-3.7-.8-2.2 0-3.7.6-4.6 1.7-.6.7-.9 1.7-1 2.8h3.3c.1-.5.2-.9.5-1.2.3-.4.9-.6 1.7-.6.7 0 1.3.1 1.6.3.4.2.6.6.6 1.1-.1.5-.3.8-.8 1zm.7 3.1c0 1.1-.3 1.9-1 2.4-.6.4-1.3.6-2 .6-.5 0-.8-.1-1.2-.4-.3-.3-.5-.7-.5-1.3 0-.7.3-1.1.8-1.4.3-.2.8-.3 1.5-.5l.8-.1c.4-.1.7-.1.9-.2l.6-.3v1.2z" fill="inherit"></path></svg></div><div class="badge__Cell-sc-j4f1xa-2 kZcuwH" style="
    display: flex;
    flex: 1 1 auto;
    min-height: 1px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
"><span spacing="xxs" class="badge__TextUI-sc-j4f1xa-3 bxvNsy" style="
    padding: 5px 5px 5px 0px;
    color: rgb(51, 51, 51);
    font-size: 14px;
">indica</span></div></div></div></div>  <div class="product-description__WrapperProductDescription-sc-ytj6zc-0 hGDbFc"><p style="padding: 0px;" class="product-description__Description-sc-ytj6zc-1 ecJlZp"><div id="result5"></div></p><a href="#info-section" class="product-description__LinkSeeMoreInformation-sc-ytj6zc-2 doxZYj">mais informações</a></div><div style="display: none;" class="old__Type-sc-uaqko9-6 miAcb"><div class="old__SelectedOption-sc-uaqko9-0 lgaBLP"><label class="old__Label-sc-uaqko9-1 eCvlZu">cor<!-- -->: <strong class="old__Bold-sc-uaqko9-3 ldVOLn">Violeta</strong></label></div></div><!--------><div id="var1" class="old__Type-sc-uaqko9-6 miAcb">{% render "var2" %}</div><div class="product-info__Wrapper-sc-evc6bz-1 epmclq"></div><a href="#" class="return-policy__Link-sc-sz1ygc-0 dxzrVD">política de troca e devolução</a></div></div></div><div class="product-offer__Container-sc-19zdmlr-0 imBUgC" style="    background: transparent;" ><div class="src__Wrapper-sc-wpecb0-0 fpkVJE"><div class="best-price__ListPriceWrapper-sc-1v0eo34-1 bPZZMN"><span class="best-price__ListPrice-sc-1v0eo34-2 gzCGtd">{{ product.compare_at_price_max | money }}</span><div class="best-price__Badge-sc-1v0eo34-3 hWoKbG badge"><svg viewBox="0 0 12 12" aria-labelledby="arrowDiscountIcon arrowDiscountDesc" width="10" height="10" fill="#fff" class="best-price__Arrow-sc-1v0eo34-5 chmPBI"><path fill="inherit" d="M.813 5.647a.5.5 0 01.707 0L5.5 9.628V1.166a.5.5 0 111 0v8.461l3.98-3.98a.5.5 0 01.637-.057l.07.058a.5.5 0 010 .707l-4.833 4.832a.508.508 0 01-.019.018l-.027.022a.379.379 0 01-.044.031l-.03.017a.363.363 0 01-.08.034.398.398 0 01-.08.018.45.45 0 01-.063.006H5.99a.503.503 0 01-.061-.005l.072.005a.502.502 0 01-.151-.023l-.023-.008-.015-.006a.496.496 0 01-.048-.022l-.015-.01-.01-.004a.498.498 0 01-.051-.037l-.017-.015a.232.232 0 01-.025-.022L.813 6.354a.5.5 0 010-.707z"></path> <span id="">{% assign discount = product.compare_at_price | minus: product.price %}
          {% assign discount_percentage = discount | times: 100 | divided_by: product.compare_at_price %} {{ discount_percentage }}</span> <span>%</span></svg></div></div><div class="best-price__PriceWrapper-sc-1v0eo34-4 lnEuhX"><div class="styles__PriceText-sc-1o94vuj-0 kbIkrl priceSales">{{ product.price | money }}</div></div><strong class="payment-condition-text__Text-sc-1gv57xy-0 gSVTsO">no Pix</strong><div class="flex__Flex-sc-1pzdl86-0 payment-installment-text__Container-sc-1k357wu-1 iTIUZx"><div class="box__BoxUI-sc-r8n3lk-0 bfxKiH"><svg viewBox="0 0 33 23" fill="#666" xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path fill-rule="evenodd" clip-rule="evenodd" d="M32.75 3.781A2.844 2.844 0 0029.906.937H3.094A2.844 2.844 0 00.25 3.781V19.22a2.844 2.844 0 002.844 2.843h26.812a2.844 2.844 0 002.844-2.843V3.78zM2.687 19.22V11.5h27.625v7.719a.406.406 0 01-.406.406H3.094a.406.406 0 01-.407-.406zm0-12.594h27.625V3.781a.406.406 0 00-.406-.406H3.094a.406.406 0 00-.407.406v2.844zm23.97 10.563H21.78a1.219 1.219 0 110-2.438h4.875a1.219 1.219 0 010 2.438z"></path></svg></div><div class="box__BoxUI-sc-r8n3lk-0 cbuVXw"><p class="payment-installment-text__Text-sc-1k357wu-0 euQiqm">{{ product.price | money }} em até 8x de {% assign product.price = product.price | money_to_float %}{{ product.price | divided_by: 8 | money }}</p></div></div><button id="showPopupButton8" onclick="showPopup8()" class="more-payment-methods__Link-sc-zi33g3-0 fIvqXZ">mais formas de pagamento</button></div>{% render "cep2" %}<div id="ceform11" class="styles__Container-sc-1g3ntqa-0 bWVmXn"> 
  
  
<div><p>calcular frete e prazo</p><div class="src__Flexbox-sc-9s768b-1 fTOvca"><div class="src__Cell-sc-9s768b-2 hGGnqX"><div class="src__CepBox-sc-9s768b-0 kVjweN">  <input id="cepInput22" placeholder="Digite seu CEP" style="
    width: 100%;
    height: 100%;
    border: none;
    outline: 0;
">  </div></div><div class="src__Cell-sc-9s768b-2 jRUNPY">
  <button id="consultaCEP22" class="src__Button-sc-9s768b-3 hygJhN">ok</button></div></div></div>


</div>
  
  
  
  
  
<!-------->
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      

<div class="buy-area__BuyButtonWrapper-sc-ei0fb4-0 fkAJeB"><div class="styles__Container-sc-oh5fhe-0 hZcuZw"><strong class="styles__Title-sc-oh5fhe-1 bUdGuK" style="display: none;">eeei, aproveite também!</strong><div style="display: none;" class="styles__Box-sc-oh5fhe-2 jnSRIf"><div class="styles__CheckboxContainer-sc-oh5fhe-3 iYnoCs"><label class="checkbox__Label-sc-ccsp6p-0 dqXUXe"><input id="marcador2" type="checkbox" class="checkbox__Input-sc-ccsp6p-1 cKVcDJ"><svg width="24" height="24" viewBox="0 0 24 24" fill="inherit" class="checkbox__Check-sc-ccsp6p-2 jwJyEI"><path d="M19.066 6.375a.75.75 0 111.06 1.06L9.531 18.031a.747.747 0 01-1.061 0L4 13.561A.75.75 0 115.06 12.5L9 16.44 19.066 6.376z"></path></svg></label></div><div class="styles__IconUI-sc-oh5fhe-4 iZYYuw"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.683 5.57C15.706 4.4 17.403 3.332 20 3.332S24.294 4.4 25.317 5.57a6.436 6.436 0 011.18 1.981c3.912.988 6.836 2.45 6.836 2.45v10c0 13.333-6.666 15-13.333 16.667C13.333 35 6.666 33.333 6.666 20V10s2.925-1.462 6.836-2.45a6.442 6.442 0 011.18-1.981zm8.65 10.322V10.29c-1.1-.18-2.226-.29-3.333-.29-1.108 0-2.233.11-3.334.29v5.602A6.635 6.635 0 0120 15c1.214 0 2.353.325 3.333.892zm3.334 5.775v-10.62A36.646 36.646 0 0130 12.183V20c0 6.12-1.517 8.813-3.086 10.251-1.63 1.494-3.838 2.193-6.914 2.978-3.076-.785-5.284-1.484-6.914-2.978C11.516 28.812 10 26.121 10 20v-7.817a36.636 36.636 0 013.333-1.135v10.619a6.667 6.667 0 1013.333 0zm-5.834-.223a1.666 1.666 0 10-1.666 0v2.723h1.666v-2.723z" fill="#F80032"></path></svg></div><p class="styles__Text-sc-oh5fhe-5 cHcnPP">1 ano de<!-- --> <span class="styles__ServiceName-sc-oh5fhe-6 kVljJD">seguro roubo e furto qualificado + quebra acidental</span> em até <!-- -->8<!-- -->x de<!-- --> <span class="styles__PriceUI-sc-oh5fhe-7 hblJKd" id="seguro2">"{Ocorreu um erro}"</span>&nbsp;s/ juros.<a onclick="showPopup32()" class="styles__BoxAnchor-sc-oh5fhe-8 kYbQpj">ver cobertura</a></p></div> <p id="exibirss"  style="
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: rgb(111, 111, 111);
    margin-bottom: 24px;
    margin-left: 15px; display: none;
">ao clicar em comprar você aceita os termos e condições: <a class="styles__DisclaimerAnchor-sc-oh5fhe-10 dytIPQ" style="
    text-decoration: underline;
    line-height: 16px;
    margin-top: 2px;
    cursor: pointer;
">seguro roubo e furto qualificado + quebra acidental</a>&nbsp;e&nbsp;<a class="styles__DisclaimerAnchor-sc-oh5fhe-10 dytIPQ" style="
    text-decoration: underline;
    line-height: 16px;
    margin-top: 2px;
    cursor: pointer;
">política de contratação.</a></p>  </div><a onclick="showPopup201()" class="src__ButtonUI-sc-1207ch0-1 gAHBeb" aria-current="page"><svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon__BasketUI-sc-14ouwfa-0 gVhHBo"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 1.5l5.626 4.72h1.374a.75.75 0 010 1.5h-.092l-1.12 8.522a1.685 1.685 0 01-1.712 1.479H4.176c-.962 0-1.608-.686-1.713-1.48l-1.12-8.52H1.25a.75.75 0 010-1.5h1.374L8.25 1.5a1.5 1.5 0 113 0zM9.75 3c.265 0 .513-.069.73-.189l4.062 3.41H4.958L9.02 2.81c.216.12.464.189.729.189zM2.855 7.72h13.79l-1.094 8.326c-.013.1-.084.175-.225.175H4.176c-.142 0-.213-.075-.226-.175L2.855 7.721zM14 9.22a.75.75 0 00-.75.75v4.5a.75.75 0 001.5 0v-4.5a.75.75 0 00-.75-.75zm-3.583.75a.75.75 0 011.5 0v4.5a.75.75 0 01-1.5 0v-4.5zm-2.084-.75a.75.75 0 00-.75.75v4.5a.75.75 0 001.5 0v-4.5a.75.75 0 00-.75-.75zm-3.583.75a.75.75 0 011.5 0v4.5a.75.75 0 01-1.5 0v-4.5z" fill="#fff"></path></svg><span class="src__BuyButtonText-sc-1207ch0-0 jojnpV">comprar</span></a></div>


<!-------->  
  
  
  
  <div class="offers-box__Wrapper-sc-1c26i5t-0 cTfpHs"> <p>Este produto é vendido e entregue por <strong>Americanas</strong>.</p> <p style="display: none;">Este produto é vendido por <a href="/lojista/2455036002309" class="components__Link-sc-as1sfg-0 dYwwnK">Mastercell</a> e entregue por <strong>Americanas</strong>, que garante a sua compra, do pedido à entrega. <a target="_blank" href="https://www.americanas.com.br/hotsite/duvidas-marketplace?chave=footeracom_marketplace" class="components__Link-sc-as1sfg-0 dYwwnK">saiba mais</a></p><a class="more-offers__Touchable-sc-1qxh57-2 fVtkoX" aria-current="page" href="/parceiros/7285008275?buyboxToken=smartbuybox-acom-v2-f7f55c40-36f7-4c92-b9bc-b9fcbe7b66e9-2023-10-03%2015%3A26%3A36%200000-none-default&amp;condition=NEW&amp;cor=Violeta&amp;offerId=642ac4da579fbc8d91f00ad2&amp;pfm_carac=s23&amp;pfm_index=NaN&amp;pfm_page=search&amp;pfm_pos=grid&amp;pfm_type=search_page&amp;productSku=7285008291&amp;voltagem=Bivolt"><div class="more-offers__ContentWrapper-sc-1qxh57-1 jjiXUQ"><svg viewBox="0 0 16 16" aria-labelledby="plusSymbolRoundedIcon plusSymbolRoundedDesc" fill="#666" direction="right" width="15" height="15"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 0a.75.75 0 00-.75.75v6.5H.75a.75.75 0 000 1.5h6.5v6.5a.75.75 0 001.5 0v-6.5h6.5a.75.75 0 000-1.5h-6.5V.75A.75.75 0 008 0z" fill="inherit"></path></svg><span class="more-offers__Text-sc-1qxh57-0 cOVpHW">1<!-- --> <!-- -->outra oferta<!-- --> deste mesmo produto</span></div></a></div></div></div><div height="60px" class="src__TitleArea-sc-d6t0px-3 feFZwl"></div>  {% render "p-p-promo" %} <!---- recomendar produtos desktop aqui----->    <div style="display: none;" class="src__Wrapper-sc-d6t0px-0 hgJLeN"><div height="356px" width="232px" class="src__Box-sc-d6t0px-1 jEoIBQ"><div class="src__Image-sc-d6t0px-2 hoVzyb"></div></div><div height="356px" width="232px" class="src__Box-sc-d6t0px-1 jEoIBQ"><div class="src__Image-sc-d6t0px-2 hoVzyb"></div></div><div height="356px" width="232px" class="src__Box-sc-d6t0px-1 jEoIBQ"><div class="src__Image-sc-d6t0px-2 hoVzyb"></div></div><div height="356px" width="232px" class="src__Box-sc-d6t0px-1 jEoIBQ"><div class="src__Image-sc-d6t0px-2 hoVzyb"></div></div><div height="356px" width="232px" class="src__Box-sc-d6t0px-1 jEoIBQ"><div class="src__Image-sc-d6t0px-2 hoVzyb"></div></div></div><div height="60px" class="src__TitleArea-sc-d6t0px-3 feFZwl"></div><div style="display: none;" class="src__Wrapper-sc-d6t0px-0 hgJLeN"><div height="356px" width="232px" class="src__Box-sc-d6t0px-1 jEoIBQ"><div class="src__Image-sc-d6t0px-2 hoVzyb"></div></div><div height="356px" width="232px" class="src__Box-sc-d6t0px-1 jEoIBQ"><div class="src__Image-sc-d6t0px-2 hoVzyb"></div></div><div height="356px" width="232px" class="src__Box-sc-d6t0px-1 jEoIBQ"><div class="src__Image-sc-d6t0px-2 hoVzyb"></div></div><div height="356px" width="232px" class="src__Box-sc-d6t0px-1 jEoIBQ"><div class="src__Image-sc-d6t0px-2 hoVzyb"></div></div><div height="356px" width="232px" class="src__Box-sc-d6t0px-1 jEoIBQ"><div class="src__Image-sc-d6t0px-2 hoVzyb"></div></div></div><div id="info-section" class="src__Container-sc-1tfa99l-0 ea-DRBB"><div id="in11" onclick="contrair()" class="title__TitleContainer-sc-1agd3up-0 jyIdpT"><h2 class="title__TitleUI-sc-1agd3up-1 iyzRIC">Informações do produto</h2><button aria-expanded="true" class="title__ArrowButton-sc-1agd3up-2 enHmlr"><svg viewBox="0 0 18 11" aria-labelledby="setinha1Icon setinha1Desc" class="title__ArrowIconUI-sc-1agd3up-3 cNiIun"><title>icone de setinha</title><path fill="inherit" d="M2.1 0L0 2.1 9 11l9-8.9L15.9 0 9 6.8 2.1 0z"></path></svg></button></div>
    <div id="infor11" style="max-height: 250px;" class="src__ContentWrapper-sc-1tfa99l-1 jfPPvR"><div class="src__Content-sc-1tfa99l-2 hvXkDh"><div class="src__WrapperProductInfo-sc-13f3i2j-0 dxVsxo"><div class="src__Container-sc-13f3i2j-3 eUhMnK" ><div  class="src__Description-sc-13f3i2j-2 bqnMru">  {% render "description-img" %} <br> <br> <div id="result3"></div><div id="result20"></div>
    
    
      
     
    
    
    </div></div></div></div></div> {% render "expandader1" %} </div><div class="src__Container-sc-1tfa99l-0 ea-DRBB"><div id="wphrapers" onclick="toggleHeight()" class="title__TitleContainer-sc-1agd3up-0 dMgxSC"><h2 class="title__TitleUI-sc-1agd3up-1 iyzRIC">Ficha Técnica</h2><button aria-expanded="false" class="title__ArrowButton-sc-1agd3up-2 enHmlr"><svg viewBox="0 0 18 11" aria-labelledby="setinha1Icon setinha1Desc" class="title__ArrowIconUI-sc-1agd3up-3 hdTdjZ"><title>icone de setinha</title><path fill="inherit" d="M2.1 0L0 2.1 9 11l9-8.9L15.9 0 9 6.8 2.1 0z"></path></svg></button></div><div id="caixadbah9ia" style="max-height:0px" class="src__ContentWrapper-sc-1tfa99l-1 jfPPvR"><div class="src__Content-sc-1tfa99l-2 hvXkDh"><div class="src__TextWrapper-sc-70o4ee-3 eoVIzh"></div><div class="src__DeskWrapper-sc-70o4ee-4 kgeEqy">
      
      
      
      
     <div id="result4"></div>
    
    
    </div></div></div></div><div class="report-link__ReportUI-sc-11zj7vs-0 krnjgt"><div class="report-link__View-sc-1vt3mqm-1 bXQLGM"><a aria-current="page" href="https://cliente.americanas.com.br/minha-conta/entrar?guest=true&next=https%3A%2F%2Fcliente.americanas.com.br%2Fminha-conta%3Fnext%3Dhttps%3A%2F%2Fwww.americanas.com.br%2Fdenuncie%2F7458996663"><span class="report-link__Text-sc-1vt3mqm-0 dYqddi">denunciar anúncio</span></a></div></div><div id="card-reviews-title" class="Styled__ReviewContainer-sc-talzl3-1 cpPRGl"><div id="card-reviews-title-accordion" class="src__Container-sc-1tfa99l-0 ea-DRBB"><div id="expandedvaliable" onclick="toggleHeight2('abrirdegarrafa')" class="title__TitleContainer-sc-1agd3up-0 jyIdpT"><h3 class="title__TitleUI-sc-1agd3up-1 iyzRIC">Avaliações</h3><button aria-expanded="true" class="title__ArrowButton-sc-1agd3up-2 enHmlr"><svg viewBox="0 0 18 11" aria-labelledby="setinha1Icon setinha1Desc" class="title__ArrowIconUI-sc-1agd3up-3 cNiIun"><title>icone de setinha</title><path fill="inherit" d="M2.1 0L0 2.1 9 11l9-8.9L15.9 0 9 6.8 2.1 0z"></path></svg></button></div><div id="abrirdegarrafa" class="src__ContentWrapper-sc-1tfa99l-1 jfPPvR" style="max-height: 9999px;" > {% render "revi" %} <div style="display: none;" class="src__Content-sc-1tfa99l-2 hvXkDh"><div class="Styled__Content-sc-talzl3-0 gMuSVI"><div class="Styled__NoReviewStyled-sc-1r0n3a2-0 ihsPCU">
      
      
      
      
   
    
    
    
    </div></div></div></div></div></div><div class="styled__ThemeWrapper-sc-bff688-0 cbRkEZ"><div id="qna-wrapper" class="src__Container-sc-1tfa99l-0 ea-DRBB"><div id="duvidasobrep" onclick="toggleHeight3('dividaserxpp')" class="title__TitleContainer-sc-1agd3up-0 jyIdpT"><h3 class="title__TitleUI-sc-1agd3up-1 iyzRIC">Dúvidas sobre o produto</h3><button aria-expanded="true" class="title__ArrowButton-sc-1agd3up-2 enHmlr"><svg viewBox="0 0 18 11" aria-labelledby="setinha1Icon setinha1Desc" class="title__ArrowIconUI-sc-1agd3up-3 cNiIun"><title>icone de setinha</title><path fill="inherit" d="M2.1 0L0 2.1 9 11l9-8.9L15.9 0 9 6.8 2.1 0z"></path></svg></button></div><div id="dividaserxpp" class="src__ContentWrapper-sc-1tfa99l-1 jfPPvR" style="max-height: 0px;"><div class="src__Content-sc-1tfa99l-2 hvXkDh"> <div class="src__Content-sc-1tfa99l-2 hvXkDh"><div class="styled__Wrapper-sc-40ogm4-0 cXlaof"><h3 class="styled__Title-sc-40ogm4-1 jKTqGW">Esse produto ainda não tem perguntas</h3><p class="styled__SubTitle-sc-40ogm4-2 BHlDI">Aproveite e faça a primeira :)</p>
      
      
      <a id="fazerpegunta2" class="styled__Button-sc-40ogm4-3 gtSqDw">Fazer pergunta</a>



          <script>
  // Adiciona um event listener ao botão com o id "fazerpegunta"
  document.getElementById("fazerpegunta2").addEventListener("click", function() {
    // Esconde o botão
    this.style.display = "none";
    // Exibe o div com id "bolinha1"
    document.getElementById("bolinha2").style.display = "block";
  });
</script>




    <style>

  .loaderFazerP2 {
    border: 5px solid rgb(248, 0, 50);
    border-top: 5px solid transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>

  <div id="bolinha2" class="loaderFazerP2" style="display: none;"></div>
    
    
    </div></div> <div style="display: none;" class="styled__Wrapper-sc-40ogm4-0 cXlaof"><div id="perguntas22"></div>
      
    
    
    
    </div></div></div></div></div><div></div><div class="src__Wrapper-sc-1nfm2h8-0 bePfht"><h2 class="src__Title-sc-1nfm2h8-1 doXKrj">sugestões de produtos</h2> <ul style="max-height:50px" class="src__List-sc-1nfm2h8-4 kUDUSk"><li class="src__ListItem-sc-1nfm2h8-5 faCGfk"><a href="/busca/galaxy-s-20-fe?pfm_type=spectreSuggestions-product" class="src__Link-sc-1nfm2h8-6 jRodbt" id="parte12">galaxy s 20 fe</a></li><li class="src__ListItem-sc-1nfm2h8-5 faCGfk"><a id="parte22" href="/busca/samsung-s20-fe-5g?pfm_type=spectreSuggestions-product" class="src__Link-sc-1nfm2h8-6 jRodbt">samsung s20 fe 5g</a><a style="display: none;" href="/busca/samsung-s20-fe-5g?pfm_type=spectreSuggestions-product" class="src__Link-sc-1nfm2h8-6 jRodbt">samsung s20 fe 5g</a></li><li class="src__ListItem-sc-1nfm2h8-5 faCGfk"><a id="parte32" href="/busca/samsung-m53-128gb-5g?pfm_type=spectreSuggestions-product" class="src__Link-sc-1nfm2h8-6 jRodbt">samsung m53 128gb 5g</a></li><li class="src__ListItem-sc-1nfm2h8-5 faCGfk"><a id="parte42" href="/busca/samsung-m53-5g-128gb?pfm_type=spectreSuggestions-product" class="src__Link-sc-1nfm2h8-6 jRodbt">samsung m53 5g 128gb</a></li><li class="src__ListItem-sc-1nfm2h8-5 faCGfk"><a href="/busca/samsung-galaxy-z-flip-4?pfm_type=spectreSuggestions-product" class="src__Link-sc-1nfm2h8-6 jRodbt">samsung galaxy z flip 4</a></li><li class="src__ListItem-sc-1nfm2h8-5 faCGfk"><a href="/busca/j5-prime-32-gb?pfm_type=spectreSuggestions-product" class="src__Link-sc-1nfm2h8-6 jRodbt">j5 prime 32 gb</a></li><li class="src__ListItem-sc-1nfm2h8-5 faCGfk"><a href="/busca/samsung-note-20-ultra?pfm_type=spectreSuggestions-product" class="src__Link-sc-1nfm2h8-6 jRodbt">samsung note 20 ultra</a></li><li class="src__ListItem-sc-1nfm2h8-5 faCGfk"><a href="/busca/galaxy-note-20-ultra?pfm_type=spectreSuggestions-product" class="src__Link-sc-1nfm2h8-6 jRodbt">galaxy note 20 ultra</a></li><li class="src__ListItem-sc-1nfm2h8-5 faCGfk"><a href="/busca/samsung-j5-pro-32gb?pfm_type=spectreSuggestions-product" class="src__Link-sc-1nfm2h8-6 jRodbt">samsung j5 pro 32gb</a></li><li class="src__ListItem-sc-1nfm2h8-5 faCGfk"><a href="/busca/samsung-galaxy-z-fold-4?pfm_type=spectreSuggestions-product" class="src__Link-sc-1nfm2h8-6 jRodbt">samsung galaxy z fold 4</a></li></ul><ul style="display: none;" style="max-height:50px" class="src__List-sc-1nfm2h8-4 kUDUSk"><li class="src__ListItem-sc-1nfm2h8-5 faCGfk"><a href="/busca/galaxy-s-20-fe?pfm_type=spectreSuggestions-product" class="src__Link-sc-1nfm2h8-6 jRodbt">galaxy s 20 fe</a></li><li class="src__ListItem-sc-1nfm2h8-5 faCGfk"><a href="/busca/samsung-s20-fe-5g?pfm_type=spectreSuggestions-product" class="src__Link-sc-1nfm2h8-6 jRodbt">samsung s20 fe 5g</a></li><li class="src__ListItem-sc-1nfm2h8-5 faCGfk"><a href="/busca/samsung-m53-128gb-5g?pfm_type=spectreSuggestions-product" class="src__Link-sc-1nfm2h8-6 jRodbt">samsung m53 128gb 5g</a></li><li class="src__ListItem-sc-1nfm2h8-5 faCGfk"><a href="/busca/samsung-m53-5g-128gb?pfm_type=spectreSuggestions-product" class="src__Link-sc-1nfm2h8-6 jRodbt">samsung m53 5g 128gb</a></li><li class="src__ListItem-sc-1nfm2h8-5 faCGfk"><a href="/busca/samsung-galaxy-z-flip-4?pfm_type=spectreSuggestions-product" class="src__Link-sc-1nfm2h8-6 jRodbt">samsung galaxy z flip 4</a></li><li class="src__ListItem-sc-1nfm2h8-5 faCGfk"><a href="/busca/j5-prime-32-gb?pfm_type=spectreSuggestions-product" class="src__Link-sc-1nfm2h8-6 jRodbt">j5 prime 32 gb</a></li><li class="src__ListItem-sc-1nfm2h8-5 faCGfk"><a href="/busca/samsung-note-20-ultra?pfm_type=spectreSuggestions-product" class="src__Link-sc-1nfm2h8-6 jRodbt">samsung note 20 ultra</a></li><li class="src__ListItem-sc-1nfm2h8-5 faCGfk"><a href="/busca/galaxy-note-20-ultra?pfm_type=spectreSuggestions-product" class="src__Link-sc-1nfm2h8-6 jRodbt">galaxy note 20 ultra</a></li><li class="src__ListItem-sc-1nfm2h8-5 faCGfk"><a href="/busca/samsung-j5-pro-32gb?pfm_type=spectreSuggestions-product" class="src__Link-sc-1nfm2h8-6 jRodbt">samsung j5 pro 32gb</a></li><li class="src__ListItem-sc-1nfm2h8-5 faCGfk"><a href="/busca/samsung-galaxy-z-fold-4?pfm_type=spectreSuggestions-product" class="src__Link-sc-1nfm2h8-6 jRodbt">samsung galaxy z fold 4</a></li></ul><div class="src__TextWrapper-sc-1nfm2h8-3 cWFoAj"><p class="src__Text-sc-1nfm2h8-2 ktIKHV">ver mais<!-- --> sugestões</p><button class="src__ArrowButton-sc-1nfm2h8-7 bQODBn"><svg viewBox="0 0 18 11" aria-labelledby="setinha1Icon setinha1Desc" class="src__ArrowIconUI-sc-1nfm2h8-8 hNBmQL"><title>icone de setinha</title><path fill="inherit" d="M2.1 0L0 2.1 9 11l9-8.9L15.9 0 9 6.8 2.1 0z"></path></svg></button></div></div></main>
    
  
    

    
    </div></div></div>
    
    

<script>
        const marcador = document.getElementById('marcador2');
        const exibir = document.getElementById('exibirss');

        marcador.addEventListener('change', function() {
            if (marcador.checked) {
                exibir.style.display = 'block';
            } else {
                exibir.style.display = 'none';
            }
        });
    </script>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Obtém o valor do preço do produto
    var productPrice = {{ product.price | divided_by: 100 }};
    
    // Calcula 35% do preço
    var seguroValue = productPrice * 5;

    // Formata o valor calculado como dinheiro
    var formattedSeguroValue = Shopify.formatMoney(seguroValue, "{{ shop.money_format }}");

    // Exibe o valor formatado no elemento HTML
    var seguroElement = document.getElementById('seguro2');
    seguroElement.textContent = formattedSeguroValue;
  });
</script>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Obtém o valor do preço normal e do preço de venda do produto
    var compareAtPrice = {{ product.compare_at_price_max | divided_by: 100 }};
    var salePrice = {{ product.price | divided_by: 100 }};

    // Calcula o desconto em porcentagem
    var discountPercentage = ((compareAtPrice - salePrice) / compareAtPrice) * 100;

    // Exibe o desconto no elemento HTML
    var discountElement = document.getElementById('discount2');
    discountElement.textContent = discountPercentage.toFixed(0); // Exibe apenas a porcentagem sem casas decimais
  });
</script>


 <script>
        function expandir() {
  var infor11 = document.getElementById("infor11");
  var expand11 = document.getElementById("expand11");

  infor11.style.maxHeight = "9999px";
  expand11.style.display = "none";
}

function contrair() {
  var infor11 = document.getElementById("infor11");
  var expand11 = document.getElementById("expand11");

  infor11.style.maxHeight = "250px";
  expand11.style.display = "-webkit-inline-box";
}

    </script>

<script>
var caixadbah9ia = document.getElementById("caixadbah9ia");
var isExpanded = false;

function toggleHeight() {
  if (isExpanded) {
    caixadbah9ia.style.maxHeight = "0px";
  } else {
    caixadbah9ia.style.maxHeight = "9999px";
  }
  
  isExpanded = !isExpanded;
}

  
</script>      


<script>

function toggleHeight2(elementId) {
  var element = document.getElementById(elementId);
  
  if (!element) {
    return; // Certifique-se de que o elemento exista
  }

  if (element.style.maxHeight === "9999px" || element.style.maxHeight === "") {
    element.style.maxHeight = "0px";
  } else {
    element.style.maxHeight = "9999px";
  }
}

  
</script>




<script>

function toggleHeight3(elementId) {
  var element = document.getElementById(elementId);
  
  if (!element) {
    return; // Certifique-se de que o elemento exista
  }

  if (element.style.maxHeight === "9999px" || element.style.maxHeight === "") {
    element.style.maxHeight = "0px";
  } else {
    element.style.maxHeight = "9999px";
  }
}

  
</script>      

  <script>
        // Função para dividir o título do produto
        function dividirTituloDoProduto() {
            // Obtenha o título do produto da variável Shopify
            var tituloDoProduto = '{{ product.title }}';

            // Divida o título em quatro partes (assumindo que cada parte é separada por espaços em branco)
            var partesDoTitulo = tituloDoProduto.split(' ');

            // Verifique se existem pelo menos quatro partes
            if (partesDoTitulo.length >= 4) {
                // Exiba cada parte nas divs correspondentes
                document.getElementById('parte12').innerText = partesDoTitulo[0];
                document.getElementById('parte22').innerText = partesDoTitulo[1];
                document.getElementById('parte32').innerText = partesDoTitulo[2];
                document.getElementById('parte42').innerText = partesDoTitulo[3];
            } else {
                // Se não houver pelo menos quatro partes, exiba uma mensagem de erro
                console.error('O título do produto não contém pelo menos quatro palavras.');
            }
        }

        // Chame a função quando a página carregar
        window.addEventListener('load', dividirTituloDoProduto);
    </script>


   
    <style>
        /* Estilos para o fundo escuro */
        #overlay22 {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 1000;
        }

        /* Estilos para o popup */
        #popup22 {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 0px;
            border-radius: 5px;
            z-index: 1001;
          width: 100%;
    height: 100%;
        }
    </style>



   <div id="overlay22" style="display: none;">
        <div id="popup2" style="display: none;">
           {% render "formas2" %}
        </div>
    </div>

    <script>
        // Função para exibir o pop-up
        function exibirPopup22() {
            const overlay = document.getElementById('overlay22');
            const popup = document.getElementById('popup22');
            overlay.style.display = 'block';
            popup.style.display = 'block';
        }

        // Função para fechar o pop-up
        function fecharPopup2() {
            const overlay = document.getElementById('overlay22');
            const popup = document.getElementById('popup22');
            overlay.style.display = 'none';
            popup.style.display = 'none';
        }
    </script>


        <!------>


      <style>
  /* Estilos para desktop - ocultar o popup em dispositivos móveis */
  @media (min-width: 768px) {
    /* Estilize o fundo opaco do popup com CSS */
    #popupOverlay8 {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
     
      z-index: 1;
    }

    /* Estilize o popup com CSS */
    #popup8 {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      z-index: 99999; /* Z-index maior para que o popup esteja acima do fundo opaco */
      border-radius: 10px;
    }
  }
</style>



<!-- Fundo opaco do popup (visível apenas em versões desktop) -->
<div id="popupOverlay8" class="popup-overlay desktop-only"></div>

<!-- O popup em si (visível apenas em versões desktop) -->
<div id="popup8" class="popup desktop-only">
 {% render "formas2" %}
</div>

      <script>
function showPopup8() {
  // Mostra o fundo opaco e o popup
  document.getElementById("popupOverlay8").style.display = "block";
  document.getElementById("popup8").style.display = "block";
}

function closePopup8() {
  // Fecha o fundo opaco e o popup
  document.getElementById("popupOverlay8").style.display = "none";
  document.getElementById("popup8").style.display = "none";
}
</script>

 <!------>


      <!DOCTYPE html>
<html>
<head>
    <title>Popup Example</title>
    <style>
        /* Estilo para o fundo opaco do popup */
        #popupOverlay32 {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }

        /* Estilo para o popup */
        #popup32 {
            display: none;
            position: fixed;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border: 1px solid #ccc;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            z-index: 9999999;
        }

        /* Estilo para o botão de fechar o popup */
        #closeButton32 {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>


<!-- Fundo opaco do popup -->
<div id="popupOverlay32"></div>

<!-- Popup -->
<div id="popup32">

  {% render "cobertura2" %}
   
</div>

<script>
    function showPopup32() {
        // Mostra o fundo opaco e o popup
        document.getElementById("popupOverlay32").style.display = "block";
        document.getElementById("popup32").style.display = "block";
    }

    function closePopup32() {
        // Fecha o fundo opaco e o popup
        document.getElementById("popupOverlay32").style.display = "none";
        document.getElementById("popup32").style.display = "none";
    }
</script>
</body>
</html>

<!---------------->


  <!DOCTYPE html>
<html>
<head>
    <title>Popup Exemplo</title>
    <style>
        /* Estilos para o fundo opaco */
        #popupOverlayCEPA2 {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.5);
            z-index: 999999999;
        }

        /* Estilos para o popup */
        #popupCEPA2 {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border: 1px solid #000;
            border: none;
   
    background: none;
    z-index: 999999999;
        }
    </style>
</head>
<body>
 

    <!-- Fundo opaco -->
    <div id="popupOverlayCEPA2"></div>

    <!-- Popup -->
    <div id="popupCEPA2">
       {% render "ceph2" %}
    </div>

    <script>
        function showPopupCEPA2() {
            // Mostra o fundo opaco e o popup
            document.getElementById("popupOverlayCEPA2").style.display = "block";
            document.getElementById("popupCEPA2").style.display = "block";
        }

        function closePopupCEPA2() {
            // Fecha o fundo opaco e o popup
            document.getElementById("popupOverlayCEPA2").style.display = "none";
            document.getElementById("popupCEPA2").style.display = "none";
        }
    </script>
</body>
</html>



  
 <!------>     



    <style>

      @media screen and (min-width: 768px){
        /* Estilos para o overlay (fundo escuro) */
        #popupOverlay201 {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }

        /* Estilos para o pop-up */
        #popup201 {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border: 1px solid #ccc;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            z-index: 9999999;
            width: 50%;
        }

        /* Estilo para o botão de fechar */
        #fecharPopup201 {
            position: unset;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }}
    </style>


      <!-- Overlay (fundo escuro) -->
    <div id="popupOverlay201"></div>

    <!-- Pop-up -->
    <div id="popup201">
      {% render "comprar2" %}
    </div>

    <script>
        // Função para exibir o pop-up
        function showPopup201() {
            document.getElementById("popupOverlay201").style.display = "block";
            document.getElementById("popup201").style.display = "block";
        }

        // Função para fechar o pop-up
        function closePopup201() {
            document.getElementById("popupOverlay201").style.display = "none";
            document.getElementById("popup201").style.display = "none";
        }
    </script>



      
  </body>
  </html>
  </div>