<style>

   #pixc {    padding: 10px;
    border: 1px solid #c3c3c3;}

   #boletoc {    padding: 10px;
    border: 1px solid #c3c3c3; margin-bottom: 20px;}


  #cardc {border: 1px solid #c3c3c3;}


  #hiddenSupre {display: none;}

  @media screen and (min-width: 768px){

     #hiddenSupre {display: block;}
  }
  
</style>

<div title="mais formas de pagamento" class="src__Content-sc-1hvc4ys-1 gBzPrp" id="hiddenSupre">
                <div class="src__Block-sc-1hvc4ys-3 zqZPU modal__amc__close">
                    <a onclick="closePopup8()" class="src__CloseButton-sc-1hvc4ys-4 iqNtGS">
                        <svg fill="#999999" viewBox="0 0 24 24" aria-labelledby="closeIcon closeDesc" width="24" height="24">
                            <path d="M6.06 5L12 10.94 17.94 5A.75.75 0 0119 6.06L13.06 12 19 17.94A.75.75 0 0117.94 19L12 13.06 6.06 19A.75.75 0 015 17.94L10.94 12 5 6.06A.75.75 0 116.06 5z" fill="inherit"></path>
                        </svg>
                    </a>
                </div>
                <p title="mais formas de pagamento" class="src__Title-sc-1hvc4ys-0 iDthKb">mais formas de pagamento</p>
                <ul class="header__HeaderContent-sc-wr8kge-0 ePTnEn">
                    <li data-method_show_payment="card" class="header__Item-sc-wr8kge-1 bpMTGw dsSOrv">
                        <button class="header__Button-sc-wr8kge-2 jQGNwV">
                           <svg viewBox="0 0 33 23" fill="##999999
" xmlns="http://www.w3.org/2000/svg" style="
    width: 40px;
"><path fill-rule="evenodd" clip-rule="evenodd" d="M32.75 3.781A2.844 2.844 0 0029.906.937H3.094A2.844 2.844 0 00.25 3.781V19.22a2.844 2.844 0 002.844 2.843h26.812a2.844 2.844 0 002.844-2.843V3.78zM2.687 19.22V11.5h27.625v7.719a.406.406 0 01-.406.406H3.094a.406.406 0 01-.407-.406zm0-12.594h27.625V3.781a.406.406 0 00-.406-.406H3.094a.406.406 0 00-.407.406v2.844zm23.97 10.563H21.78a1.219 1.219 0 110-2.438h4.875a1.219 1.219 0 010 2.438z"></path></svg>
                            <span style="color: #f80032;" class="header__Text-sc-wr8kge-3 gOxRqn">cartão de crédito</span>
                        </button>
                    </li>
                    
                    <li data-method_show_payment="billet" class="header__Item-sc-wr8kge-1 bpMTGw">
                        <button class="header__Button-sc-wr8kge-2 jQGNwV">
                            <svg viewBox="0 0 33 23" fill="#999999
" xmlns="http://www.w3.org/2000/svg" style="
    width: 40px;
"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.757.938c.094 0 .184.033.251.093s.104.14.104.225v20.488a.303.303 0 01-.104.225.377.377 0 01-.251.093H3.773a.377.377 0 01-.252-.093.303.303 0 01-.104-.225V1.256c0-.085.038-.166.104-.225a.377.377 0 01.252-.093h1.984zm19.418 0c.094 0 .185.033.251.093.067.06.104.14.104.225v20.488a.303.303 0 01-.104.225.377.377 0 01-.25.093h-1.987a.377.377 0 01-.251-.093.303.303 0 01-.104-.225V1.256c0-.085.037-.166.104-.225a.377.377 0 01.251-.093h1.986zm2.71 0c.093 0 .184.033.25.093.067.06.104.14.104.225v20.488a.302.302 0 01-.104.225.377.377 0 01-.25.093h-.633A.377.377 0 0127 21.97a.302.302 0 01-.105-.225V1.256c0-.085.038-.166.105-.225a.377.377 0 01.25-.093h.633zm-12.193 0c.095 0 .185.033.252.093.066.06.104.14.104.225v20.488a.303.303 0 01-.104.225.377.377 0 01-.252.093h-.632a.377.377 0 01-.251-.093.303.303 0 01-.104-.225V1.256c0-.085.037-.166.104-.225a.377.377 0 01.251-.093h.633zm-14.45 0c.095 0 .186.033.252.093.067.06.104.14.104.225v20.488a.303.303 0 01-.104.225.377.377 0 01-.251.093H.605a.377.377 0 01-.251-.093.303.303 0 01-.104-.225V1.256c0-.085.037-.166.104-.225A.377.377 0 01.605.938h.638zm12.646 0c.094 0 .184.033.25.093.068.06.105.14.105.225v20.488a.302.302 0 01-.104.225.377.377 0 01-.251.093H11.9a.377.377 0 01-.251-.093.302.302 0 01-.104-.225V1.256c0-.085.037-.166.104-.225a.377.377 0 01.25-.093h1.989zm-4.974 0c.094 0 .184.033.25.093.067.06.105.14.105.225v20.488a.303.303 0 01-.104.225.377.377 0 01-.251.093H7.83a.377.377 0 01-.251-.093.303.303 0 01-.104-.225V1.256c0-.085.037-.166.104-.225A.377.377 0 017.83.938h1.084zm12.191 0c.095 0 .185.033.252.093.066.06.104.14.104.225v20.488a.302.302 0 01-.104.225.377.377 0 01-.252.093h-3.334a.377.377 0 01-.251-.093.303.303 0 01-.104-.225V1.256c0-.085.037-.166.104-.225a.377.377 0 01.25-.093h3.335zm11.29 0c.094 0 .184.033.25.093.067.06.105.14.105.225v20.488a.303.303 0 01-.104.225.377.377 0 01-.251.093H31.31a.377.377 0 01-.251-.093.303.303 0 01-.104-.225V1.256c0-.085.037-.166.104-.225a.377.377 0 01.251-.093h1.084z"></path></svg>
                            <span class="header__Text-sc-wr8kge-3 gOxRqn">boleto bancário</span>
                        </button>
                    </li>
                    
                    <li data-method_show_payment="pix" class="header__Item-sc-wr8kge-1 bpMTGw">
                        <button class="header__Button-sc-wr8kge-2 jQGNwV">
                           <svg viewBox="0 0 33 29" fill="#999999" xmlns="http://www.w3.org/2000/svg" style="
    width: 40px;
"><g clip-path="url(#pix-b_svg__clip0_1781_1015)"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.585 6.342l.052.055 2.822 3.12 2.986-3.2.013-.014.015-.015c.256-.265.524-.503.803-.713l-2.427-2.574c-.758-.778-1.941-.77-2.681-.003l-2.477 2.57c.317.227.616.486.894.774zm-.067-5.055c1.661-1.723 4.328-1.712 5.989.01l5.205 5.523h-.836c-.733 0-1.368.166-1.94.516a4.129 4.129 0 00-.814.664l-4.128 4.425a.761.761 0 01-1.104 0l-3.955-4.372-.012-.013a4.148 4.148 0 00-.925-.717 3.977 3.977 0 00-1.971-.52h-.828l5.319-5.516zm-9.772 10.11c-1.661 1.722-1.661 4.516 0 6.239l3.236 3.357a.593.593 0 01.217-.046H9.06a2.741 2.741 0 00.98-.204c.362-.145.695-.366.974-.65l.02-.02 4.216-4.372c.38-.394.814-.591 1.249-.592.437-.002.875.196 1.256.592l4.308 4.356.021.022.016.015a2.876 2.876 0 001.453.782 2.769 2.769 0 00.545.055h1.703c.08 0 .158.019.229.048l3.223-3.343c1.661-1.723 1.661-4.517 0-6.24L26.03 8.053a.595.595 0 01-.228.048H23.99a2.763 2.763 0 00-1.113.234 2.875 2.875 0 00-.853.57l-.015.016a2.784 2.784 0 00-.054.054l-4.2 4.356c-.392.408-.74.612-1.256.612h-.003c-.515 0-.854-.205-1.246-.611l-4.215-4.373-.016-.016a2.873 2.873 0 00-1.545-.817 2.753 2.753 0 00-.448-.041H7.199a.592.592 0 01-.217-.045l-3.236 3.356zm4.16-.892l-2.51 2.602c-.75.778-.75 2.04 0 2.818l2.509 2.602H9a.554.554 0 00.384-.165l3.709-3.846-3.709-3.846a.554.554 0 00-.384-.165H7.905zm12.014 4.004l3.773 3.815.022.023a.554.554 0 00.384.165h1.011l2.494-2.587c.75-.778.75-2.04 0-2.818l-2.494-2.586h-1.119a.554.554 0 00-.384.164L19.92 14.51zm4.922 7.703h-.921c-.717 0-1.34-.16-1.902-.494a4.092 4.092 0 01-.852-.686l-4.129-4.425a.726.726 0 00-.072-.066l-.012-.009a.77.77 0 00-.45-.154.776.776 0 00-.569.229l-4.025 4.372a4.287 4.287 0 01-.931.736 3.775 3.775 0 01-1.918.513h-.888l5.32 5.517a4.147 4.147 0 006.015 0l5.334-5.533zm-4.509 1.254a6.737 6.737 0 01-.843-.752l-2.996-3.21-2.897 3.146a6.79 6.79 0 01-.929.818l2.474 2.566c.75.778 1.966.778 2.716 0l2.475-2.568z"></path></g></svg>
                            <span class="header__Text-sc-wr8kge-3 gOxRqn">Pix</span>
                        </button>
                    </li>
                </ul>

  
                <div class="table__TableWrapper-sc-5d4ssj-0 HAYqu card">
                    


                   <div id="pixc" class="table__BankSplip-sc-5d4ssj-1 hiurfu">
                        <p class="table__Text-sc-5d4ssj-2 jENCwo">
                            <strong class="table__Bold-sc-5d4ssj-3 gwqrZZ">
                                {{ product.price | money }}</strong>
                            com Pix
                        </p>
                        <p class="table__Text-sc-5d4ssj-2 jENCwo">O pagamento é instantâneo e só pode ser à vista. Na
                            etapa de finalização da compra, a gente explica direitinho como pagar com Pix.</p>
                    </div>

                    
                     <div id="boletoc" class="table__BankSplip-sc-5d4ssj-1 hiurfu">
                        <p class="table__Text-sc-5d4ssj-2 jENCwo">
                            <strong class="table__Bold-sc-5d4ssj-3 gwqrZZ">
                                {{ product.price | money }}</strong>
                            no boleto bancario
                        </p>
                        <p class="table__Text-sc-5d4ssj-2 jENCwo">O boleto será gerado após a finalização de sua compra.
                            Imprima e pague no banco ou pague pela internet utilizando o código de barras do boleto.</p>
                    </div>



                 
                    
                    <table id="cartaoc" class="table__TableUI-sc-5d4ssj-6 kymMRb">
                        <tbody id="cardc" class="table__TBody-sc-5d4ssj-7 dQrXSA">

                                                    <tr class="table__Tr-sc-5d4ssj-8 eLOwpR">
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">1x</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">de
                                    {{ product.price | money }}</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">sem juros</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">total
                                    {{ product.price | money }}</td>
                            </tr>
                                                        <tr class="table__Tr-sc-5d4ssj-8 eLOwpR">
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">2x</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">de
                                     {% assign product.price = product.product.price | money_to_float %}{{ product.price | divided_by: 2 | money }}</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">sem juros</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">total
                                    {{ product.price | money }}</td>
                            </tr>
                                                        <tr class="table__Tr-sc-5d4ssj-8 eLOwpR">
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">3x</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">de
                                     {% assign product.price = product.product.price | money_to_float %}{{ product.price | divided_by: 3 | money }}</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">sem juros</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">total
                                    {{ product.price | money }}</td>
                            </tr>
                                                        <tr class="table__Tr-sc-5d4ssj-8 eLOwpR">
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">4x</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">de
                                     {% assign product.price = product.product.price | money_to_float %}{{ product.price | divided_by: 4 | money }}</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">sem juros</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">total
                                    {{ product.price | money }}</td>
                            </tr>
                                                        <tr class="table__Tr-sc-5d4ssj-8 eLOwpR">
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">5x</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">de
                                     {% assign product.price = product.product.price | money_to_float %}{{ product.price | divided_by: 5 | money }}</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">sem juros</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">total
                                    {{ product.price | money }}</td>
                            </tr>
                                                        <tr class="table__Tr-sc-5d4ssj-8 eLOwpR">
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">6x</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">de
                                     {% assign product.price = product.product.price | money_to_float %}{{ product.price | divided_by: 6 | money }}</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">sem juros</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">total
                                    {{ product.price | money }}</td>
                            </tr>
                                                        <tr class="table__Tr-sc-5d4ssj-8 eLOwpR">
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">7x</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">de
                                     {% assign product.price = product.product.price | money_to_float %}{{ product.price | divided_by: 7 | money }}</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">sem juros</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">total
                                    {{ product.price | money }}</td>
                            </tr>

                      </tr>
                                                        <tr class="table__Tr-sc-5d4ssj-8 eLOwpR">
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">8x</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">de
                                     {% assign product.price = product.product.price | money_to_float %}{{ product.price | divided_by: 8 | money }}</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">sem juros</td>
                                <td class="table__Td-sc-5d4ssj-9 ejOxCG">total
                                    {{ product.price | money }}</td>
                            </tr>
                                                     
                        </tbody>
                    </table>

              
                
                </div>
                
              </div>
            
            </div>