
    <div class="product-info__Cell-sc-evc6bz-2 enRBik">
        <div class="share-and-wishlist__Wrapper-sc-pvygud-0 faAMxh">
            <div class="src__Wrapper-sc-1u9ae8m-0 cYYwQw">
                <button class="src__Button-sc-1u9ae8m-2 jNkemI">
                    <svg width="25px" height="25px" viewBox="0 0 36 36" aria-labelledby="heartFavoriteFullIcon heartFavoriteFullDesc" xmlns="http://www.w3.org/2000/svg" class="src__FavoriteHeartIcon-sc-1u9ae8m-1 jrXmuv">
                        <path d="M18.068 11.097c1.23-1.352 3.24-2.113 5.163-1.921 2.698.27 4.519 2.287 4.519 5.574 0 2.689-3.085 6.63-9.254 12.063a.75.75 0 01-.985.006C11.342 21.507 8.25 17.556 8.25 14.75c0-3.287 1.821-5.304 4.52-5.574 1.921-.192 3.932.57 5.162 1.92l.068.076.068-.075z"></path>
                        <circle cx="18" cy="2" r="1"></circle>
                        <circle cx="34" cy="18" r="1"></circle>
                        <circle cx="18" cy="34" r="1"></circle>
                        <circle cx="2" cy="18" r="1"></circle>
                        <circle cx="6" cy="6" r="1"></circle>
                        <circle cx="6" cy="30" r="1"></circle>
                        <circle cx="30" cy="6" r="1"></circle>
                        <circle cx="30" cy="30" r="1"></circle>
                    </svg>
                </button>
                <button class="src__Title-sc-1u9ae8m-3 eVOofH">favoritar</button>
            </div>
            <div class="src__Wrapper-sc-v4fqxn-2 bPskMn">
                <div>
                    <div class="src__WrapperOpen-sc-v4fqxn-4 AWZob">
                        <button value="facebook" class="src__IconButton-sc-v4fqxn-5 hpJyjj">
                            <svg aria-labelledby="facebookTitle facebookDesc" viewBox="0 0 34 64" width="24" height="24" fill="#666">
                                <title>Compartilhar no facebook</title>
                                <path fill="inherit" d="M32 35l1-12H22l-.04-6.83c0-3.3 1.32-5.17 6.04-5.17h6V0h-9.16C16.15 0 10 5.26 10 15v8H0v12h10v29h12V35h10z"></path>
                            </svg>
                        </button>
                        <button value="twitter" class="src__IconButton-sc-v4fqxn-5 hpJyjj">
                            <svg aria-labelledby="twitterTitle twitterDesc" viewBox="0 0 64 52.01" width="24" height="24" fill="#666">
                                <title>Compartilhar no twitter</title>
                                <path fill="inherit" d="M64 6.16a26.247 26.247 0 01-7.54 2.07A13.16 13.16 0 0062.23.97a26.19 a26.19 0 01-8.33 3.19C51.5 1.59 48.09 0 44.31 0c-7.25 0-13.13 5.88-13.13 13.13 0 1.03.12 2.03.34 2.99-10.91-.54-20.58-5.77-27.06-13.72C3.33 4.34 2.68 6.6 2.68 9c0 4.55 2.32 8.57 5.84 10.93-2.15-.06-4.17-.66-5.94-1.64v.17c0 6.36 4.53 11.67 10.53 12.88-1.10.3-2.26.46-3.46 .46-.85 0-1.68-.08-2.47-.24 1.67 5.22 6.52 9.01 12.27 9.12A26.337 26.337 0 013.14 46.3c-1.06 0-2.1-.07-3.13-.18 5.81 3.72 12.71 5.9 20.13 5.9 24.15 0 37.35-20.01 37.35-37.36 0-.56-.01-1.13-.03-1.70 2.55-1.86 4.77-4.17 6.54-6.8z"></path>
                            </svg>
                        </button>
                        <button value="whatsapp" class="src__IconButton-sc-v4fqxn-5 fBiJeu">
                            <svg aria-labelledby="whatsappTitle whatsappDesc" viewBox="0 0 100 100" width="24" height="24" fill="#666">
                                <title>Compartilhar no whatsapp</title>
                                <path fill="inherit" d="M39.435 60.855c9.35 9.825 16.284 15.627 20.803 17.409 6.848 2.7 13.394.373 17.756-3.988 4.361-4.362 7.778-6.92-1.344-14.444-11.121-9.947-9.386-.046-15.532 1.844-3.27 1.214-8.06-1.695-14.368-8.727l-.095.095c-6.806-6.17-9.611-10.866-8.416-14.087 1.89-6.147 11.791-4.411 1.844-15.533-7.524-9.121-10.082-5.705-14.443-1.343-4.362 4.361-6.688 10.908-3.989 17.756 1.8 4.565 7.704 11.595 17.712 21.09l.072-.072zM27.942 92.306L0 99.856l8.585-26.199c-4.215-7.238-6.63-15.654-6.63-24.635C1.955 21.948 23.903 0 50.978 0 78.052 0 100 21.948 100 49.022c0 27.075-21.948 49.023-49.022 49.023a48.807 48.807 0 01-23.036-5.739z"></path>
                            </svg>
                        </button>
                        <button value="pinterest" class="src__IconButton-sc-v4fqxn-5 fBiJeu">
                            <svg aria-labelledby="pinterestTitle pinterestDesc" viewBox="0 0 49.54 64" width="24" height="24" fill="#666">
                                <title>Compartilhar no pinterest</title>
                                <path fill="inherit" d="M26.27 0C8.81 0 0 12.52 0 22.97c0 6.32 2.39 11.95 7.53 14.04.84.35 1.6.01 1.84-.92.17-.64.57-2.27.75-2.95.25-.92.15-1.24-.53-2.05-1.48-1.74-2.43-4-2.43-7.21 0-9.29 6.95-17.61 18.1-17.61 9.87 0 15.3 6.03 15.3 14.09 0 10.6-4.69 19.55-11.65 19.55-3.84 0-6.72-3.18-5.8-7.08 1.11-4.66 3.25-9.68 3.25-13.05 0-3.01-1.62-5.52-4.96-5.52-3.93 0-7.09 4.07-7.09 9.52 0 3.47 1.17 5.82 1.17 5.82s-4.02 17.05-4.73 20.03c-1.4 5.95-.21 13.23-.11 13.97.06.44.62.54.88.21.36-.47 5.05-6.25 6.64-12.03.45-1.63 2.59-10.1 2.59-10.1 1.28 2.44 5.01 4.58 8.98 4.58 11.82 0 19.83-10.77 19.83-25.19C49.55 10.15 40.31 0 26.27 0z"></path>
                            </svg>
                        </button>
                    </div>
                    <button class="src__Button-sc-v4fqxn-0 fXLpER">
                        <svg viewBox="0 0 19 20" aria-labelledby="shareIcon shareDesc" fill="#888" width="20" height="20">
                            <title>icone de compartilhamento</title>
                            <path fill="inherit" d="M15 14.12c-.76 0-1.44.30-1.96.77l-7.13-4.15c.05-.23.09-.46.09-.70 0-.24-.04-.47-.09-.70l7.05-4.11c.54.50 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.70L5.04 7.85c-.54-.50-1.25-.81-2.04-.81-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.50-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92 0-1.61-1.31-2.92-2.92-2.92zm0-12.08c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm-12 9c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm12 7.02c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z"></path>
                        </svg>
                    </button>
                    <div class="src__Overlay-sc-v4fqxn-3 fMwcoe"></div>
                </div>
                <p class="src__Title-sc-v4fqxn-1 bnFDKr">compartilhar</p>
            </div>
        </div>
        <div class="styles__Container-sc-f3wl50-0 jNtYoO">
            <div class="styles__Gallery-sc-f3wl50-1 fgJjOs">

              
<div id="desktop-main-image" class="main-image__Container-sc-1i1hq2n-1 iCNHlx">
    <div class="src__Wrapper-sc-xr9q25-1 ebFfaU">
        <picture class="src__Picture-sc-xr9q25-2 jAziSf">
            <source srcset="{{ product.images[0].src | img_url: '1024x1024' }}" media="(min-width: 1024px)">
            <img id="desktop-mainImage" src="{{ product.images[0].src | img_url: '600x600' }}" alt="{{ product.title }}" class="src__LazyImage-sc-xr9q25-0 eoRxRL" fetchpriority="high">
        </picture>
    </div>
</div>


              
<div id="desktop-thumb-gallery" class="thumb-gallery__Container-sc-1cm9lgf-0 cgyBix">
          {% for image in product.images limit:5 %}
        <button style="border: 1px solid rgb(204, 204, 204);" id="desktop-thumbnail{{ loop.index }}" class="thumb__Container-sc-183f83g-0 dGYGDz" data-src="{{ image.src | img_url: '1024x1024' }}">
            <img src="{{ image.src | img_url: '100x100' }}" alt="{{ product.title }}" class="thumb__ThumbImage-sc-183f83g-2 jXNxOn">
            <div class="thumb__OpenModal-sc-183f83g-1 fYBnCB">+</div>
        </button>
    {% endfor %}
</div>

              
            </div>
        </div>
    </div>


<script>
    // Função para atualizar a imagem principal com base na miniatura clicada
    function updateMainImage(thumbnailId, mainImageSrc) {
        // Atualiza o srcset da imagem principal
        document.getElementById("desktop-main-image").querySelector("source").srcset = mainImageSrc;
        // Atualiza o src da imagem principal
        document.getElementById("desktop-mainImage").querySelector("img").src = mainImageSrc;

        // Destaque a miniatura clicada (opcional)
        const thumbnails = document.querySelectorAll(".thumb__Container-sc-183f83g-0");
        thumbnails.forEach(thumbnail => {
            thumbnail.classList.remove("selected");
        });
        document.getElementById(thumbnailId).classList.add("selected");
    }

    // Adicione um evento de clique a todas as miniaturas
    const thumbnails = document.querySelectorAll(".thumb__Container-sc-183f83g-0");
    thumbnails.forEach(thumbnail => {
        thumbnail.addEventListener("click", function () {
            const thumbnailId = this.id;
            const mainImageSrc = this.getAttribute("data-src");
            updateMainImage(thumbnailId, mainImageSrc);
        });
    });
</script>




