{% schema %}
{
  "name": "Ame/ Icones Padrao",
  "settings": [
    {
      "type": "text",
      "label": "URL da Imagem de Telefonia",
      "id": "telefonia_image"
    },
    {
      "type": "text",
      "label": "URL da Imagem de Climatização",
      "id": "climatizacao_image"
    },
    {
      "type": "text",
      "label": "URL da Imagem de Eletroportáteis",
      "id": "eletroportateis_image"
    },
    {
      "type": "text",
      "label": "URL da Imagem de Beleza",
      "id": "beleza_image"
    },
    {
      "type": "text",
      "label": "URL da Imagem de Móveis",
      "id": "moveis_image"
    },
    {
      "type": "text",
      "label": "URL da Imagem de Utilidades Domésticas",
      "id": "ud_image"
    },
    {
      "type": "text",
      "label": "URL da Imagem de Livros",
      "id": "livros_image"
    },
    {
      "type": "text",
      "label": "URL da Imagem de Brinquedos",
      "id": "brinquedos_image"
    },
    {
      "type": "text",
      "label": "URL da Imagem de Áudio e Vídeo",
      "id": "audio_video_image"
    },
    {
      "type": "text",
      "label": "URL da Imagem de Construção e Ferramentas",
      "id": "construcao_ferramentas_image"
    },
    {
      "type": "text",
      "label": "URL da Imagem de Notebooks",
      "id": "notebooks_image"
    },
    {
      "type": "text",
      "label": "URL da Imagem de Outros",
      "id": "outher_image"
    }
  ],
  "presets": [
    {
      "name": "Padrão",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<style>

  #iconespadrao {display: none;}
  @media screen and (min-width: 768px){
    #iconespadrao {display: block;}
  }
</style>


<div id="iconespadrao" style="margin-top: 20px;    max-height: 135px" data-position="contenttop4"><div><div class="grid__StyledGrid-sc-1man2hx-0 imOqUG src__StyledGrid-sc-1icsx5y-0 drnfxw"><div class="col__StyledCol-sc-1snw5v3-0 eKusSX src__StyledCol-sc-1icsx5y-1 ivOpzk"><div class="src__Wrapper-sc-1452l36-0 kmMrFN"><div class="src__View-sc-1h87wse-0 src__Wrapper-sc-1h87wse-2 bpbvXO"><div class="src__View-sc-1h87wse-0 src__CollectionUI-sc-1h87wse-12 ggoqcC"><div class="src__View-sc-1h87wse-0 src__WrapperItems-sc-1h87wse-11 gABTvw"><div class="src__View-sc-1h87wse-0 src__Snap-sc-1h87wse-3 eLAKcW card"><a target="_self" aria-current="page" href="https://www.americanas.com.br/categoria/celulares-e-smartphones?chave=dk_hm_at_telefonia"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 eQgTeb"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
  
  <img loading="lazy" src="{{ section.settings.telefonia_image }}" alt="telefonia" class="src__LazyImage-sc-xr9q25-0 epkVxo" fetchpriority="low"></picture></div><a style="display: none;" class="src__Title-sc-1nfceik-1 ddNMHE">telefonia</a></div></a></div><div class="src__View-sc-1h87wse-0 src__Snap-sc-1h87wse-3 eLAKcW card"><a target="_self" aria-current="page" href="https://www.americanas.com.br/categoria/ar-condicionado-e-aquecedores?chave=dk_hm_at_clima"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 eQgTeb"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
    <img loading="lazy" src="{{ section.settings.climatizacao_image }}" alt="climatização" class="src__LazyImage-sc-xr9q25-0 epkVxo" fetchpriority="low"></picture></div><a style="display: none;" class="src__Title-sc-1nfceik-1 ddNMHE">climatização</a></div></a></div><div class="src__View-sc-1h87wse-0 src__Snap-sc-1h87wse-3 eLAKcW card"><a target="_self" aria-current="page" href="https://www.americanas.com.br/categoria/eletroportateis?chave=dk_hm_at_eletroportateis"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 eQgTeb"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
      <img loading="lazy" src="{{ section.settings.eletroportateis_image }}" alt="eletroportáteis" class="src__LazyImage-sc-xr9q25-0 epkVxo" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-1h87wse-0 src__Snap-sc-1h87wse-3 eLAKcW card"><a target="_self" aria-current="page" href="https://www.americanas.com.br/categoria/beleza-e-perfumaria?chave=dk_hm_at_beleza"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 eQgTeb"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
        <img loading="lazy" src="{{ section.settings.beleza_image }}" alt="beleza e perfumaria" class="src__LazyImage-sc-xr9q25-0 epkVxo" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-1h87wse-0 src__Snap-sc-1h87wse-3 eLAKcW card"><a target="_self" aria-current="page" href="https://www.americanas.com.br/categoria/moveis?chave=dk_hm_at_moveis"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 eQgTeb"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
         <img loading="lazy" src="{{ section.settings.moveis_image }}" alt="móveis" class="src__LazyImage-sc-xr9q25-0 epkVxo" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-1h87wse-0 src__Snap-sc-1h87wse-3 eLAKcW card"><a target="_self" aria-current="page" href="https://www.americanas.com.br/categoria/utilidades-domesticas?chave=dk_hm_at_ud"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 eQgTeb"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
            <img loading="lazy" src="{{ section.settings.ud_image }}" alt="utilidades domésticas" class="src__LazyImage-sc-xr9q25-0 epkVxo" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-1h87wse-0 src__Snap-sc-1h87wse-3 eLAKcW card"><a target="_self" aria-current="page" href="https://www.americanas.com.br/categoria/livros?chave=dk_hm_at_livros"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 eQgTeb"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
              <img loading="lazy" src="{{ section.settings.livros_image }}" alt="livros" class="src__LazyImage-sc-xr9q25-0 epkVxo" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-1h87wse-0 src__Snap-sc-1h87wse-3 eLAKcW card"><a target="_self" aria-current="page" href="https://www.americanas.com.br/lojista/americanas-33014556000196/c/brinquedos?origem=blancalojista&amp;chave=dk_hm_at_brinquedos"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 eQgTeb"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
                <img loading="lazy" src="{{ section.settings.brinquedos_image }}" alt="brinquedos" class="src__LazyImage-sc-xr9q25-0 epkVxo" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-1h87wse-0 src__Snap-sc-1h87wse-3 eLAKcW card"><a target="_self" aria-current="page" href="https://www.americanas.com.br/categoria/tv-e-home-theater?chave=dk_hm_at_tvs"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 eQgTeb"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
                  <img loading="lazy" src="{{ section.settings.audio_video_image }}" alt="áudio e vídeo" class="src__LazyImage-sc-xr9q25-0 epkVxo" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-1h87wse-0 src__Snap-sc-1h87wse-3 eLAKcW card"><a target="_self" aria-current="page" href="https://www.americanas.com.br/categoria/casa-e-construcao?chave=dk_hm_at_cef"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 eQgTeb"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
                    <img loading="lazy" src="{{ section.settings.construcao_ferramentas_image }}" alt="construção e ferramentas" class="src__LazyImage-sc-xr9q25-0 epkVxo" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-1h87wse-0 src__Snap-sc-1h87wse-3 eLAKcW card"><a target="_self" aria-current="page" href="https://www.americanas.com.br/categoria/informatica/notebooks?chave=dk_hm_at_notebooks"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 eQgTeb">
                      
                      <picture class="src__Picture-sc-xr9q25-2 jAziSf">
                      <img loading="lazy" src="{{ section.settings.notebooks_image }}" alt="notebooks" class="src__LazyImage-sc-xr9q25-0 epkVxo" fetchpriority="low"></picture></div></div></a></div></div></div></div></div></div></div></div><div><div class="grid__StyledGrid-sc-1man2hx-0 imOqUG src__StyledGrid-sc-1icsx5y-0 drnfxw"><div class="col__StyledCol-sc-1snw5v3-0 fakODz src__StyledCol-sc-1icsx5y-1 ivOpzk"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 cVPmNe">
                        </div></div></div></div></div></div>




