<style>
#radeoniconsmmm {display: none;}

  @media screen and (max-width: 767px){

    #radeoniconsmmm {display: block;}


    .WtAxH {
    padding: 0px 12px;
}


    .dlmvDT h1, .dlmvDT h2, .dlmvDT h3 {
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: bold;
    color: rgb(102, 102, 102);
}

.cTzWLU {
    font-size: 18px;
    line-height: 24px;
}
  }
  
</style>

{% schema %}
{
  "name": "Ame/IconesPadrao",
  "settings": [
    {
      "type": "text",
      "label": "Titulo das categorias",
      "id": "h17_text",
      "default": "As melhores categorias"
    },
    {
      "type": "url",
      "label": "URL do icon",
      "id": "img_1"
    },
    {
      "type": "text",
      "label": "1 - Palavra de Busca",
      "id": "href_1"
    },
    {
      "type": "url",
      "label": "URL do icon",
      "id": "img_2"
    },
    {
      "type": "text",
      "label": "2 - Palavra de Busca",
      "id": "href_2"
    },
    {
      "type": "url",
      "label": "URL do icon",
      "id": "img_3"
    },
    {
      "type": "text",
      "label": "3 - Palavra de Busca",
      "id": "href_3"
    },
    {
      "type": "url",
      "label": "URL do icon",
      "id": "img_4"
    },
    {
      "type": "text",
      "label": "4 - Palavra de Busca",
      "id": "href_4"
    },
    {
      "type": "url",
      "label": "URL do icon",
      "id": "img_5"
    },
    {
      "type": "text",
      "label": "5 - Palavra de Busca",
      "id": "href_5"
    },
    {
      "type": "url",
      "label": "URL do icon",
      "id": "img_6"
    },
    {
      "type": "text",
      "label": "6 - Palavra de Busca",
      "id": "href_6"
    },
    {
      "type": "url",
      "label": "URL do icon",
      "id": "img_7"
    },
    {
      "type": "text",
      "label": "7 - Palavra de Busca",
      "id": "href_7"
    },
    {
      "type": "url",
      "label": "URL do icon",
      "id": "img_8"
    },
    {
      "type": "text",
      "label": "8 - Palavra de Busca",
      "id": "href_8"
    },
    {
      "type": "url",
      "label": "URL do icon",
      "id": "img_9"
    },
    {
      "type": "text",
      "label": "9 - Palavra de Busca",
      "id": "href_9"
    },
    {
      "type": "url",
      "label": "URL do icon",
      "id": "img_10"
    },
    {
      "type": "text",
      "label": "10 - Palavra de Busca",
      "id": "href_10"
    },
    {
      "type": "url",
      "label": "URL do icon",
      "id": "img_11"
    },
    {
      "type": "text",
      "label": "11 - Palavra de Busca",
      "id": "href_11"
    }
  ],
  "presets": [
    {
      "name": "Padrão",
      "category": "Custom"
    }
  ]
}
{% endschema %}



<div id="radeoniconsmmm" style="margin-top: 40px;"  class="src__ZionContentContainer-sc-su5i0q-0 WtAxH"><div class="src__Wrapper-sc-10z0zf3-0 dlmvDT"><h2 class="src__SessionTitle-sc-10z0zf3-2 cTzWLU">{{ section.settings.h17_text }}</h2></div></div>

<div id="radeoniconsmmm" style="margin-bottom: 40px;" data-position="maintop3"><div width="28.571428571428573" class="src__Wrapper-sc-10gh7gg-0 iOhmLW"><div class="src__View-sc-13t9c07-0 src__Wrapper-sc-13t9c07-1 gLZuLV"><div class="src__View-sc-13t9c07-0 src__CollectionUI-sc-13t9c07-4 iLOsRt"><div class="src__View-sc-13t9c07-0 src__WrapperItems-sc-13t9c07-3 fGHnLd"><div class="src__View-sc-13t9c07-0 src__Snap-sc-13t9c07-2 hFxekh">
  
  
  
  
  <!---- aqui  ----> <a onclick="pesquisar100()"><div class="src__Wrapper-sc-hoteh-0 MvbCN spacey-image"><div class="src__Wrapper-sc-xr9q25-1 izLCEl"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
  <img loading="lazy" src="{{ section.settings.img_1 }}" alt="natal" class="src__LazyImage-sc-xr9q25-0 gcOFYs" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-13t9c07-0 src__Snap-sc-13t9c07-2 hFxekh">
    
    
    <!---- aqui  ----> <a onclick="pesquisar200()"><div class="src__Wrapper-sc-hoteh-0 MvbCN spacey-image"><div class="src__Wrapper-sc-xr9q25-1 izLCEl"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
    <img loading="lazy" src="{{ section.settings.img_2 }}" alt="Baixe o App Americanas" class="src__LazyImage-sc-xr9q25-0 gcOFYs" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-13t9c07-0 src__Snap-sc-13t9c07-2 hFxekh">
      
      <!---- aqui  ----> <a onclick="pesquisar300()"><div class="src__Wrapper-sc-hoteh-0 MvbCN spacey-image"><div class="src__Wrapper-sc-xr9q25-1 izLCEl"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
    <img loading="lazy" src="{{ section.settings.img_3 }}" alt="Encontre as lojas mais próximas e receba em até 3 horas" class="src__LazyImage-sc-xr9q25-0 gcOFYs" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-13t9c07-0 src__Snap-sc-13t9c07-2 hFxekh">
      
      
      
      <!---- aqui  ----> <a onclick="pesquisar400()"><div class="src__Wrapper-sc-hoteh-0 MvbCN spacey-image"><div class="src__Wrapper-sc-xr9q25-1 izLCEl"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
  <img loading="lazy" src="{{ section.settings.img_4 }}" alt="Americanas Mercado" class="src__LazyImage-sc-xr9q25-0 gcOFYs" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-13t9c07-0 src__Snap-sc-13t9c07-2 hFxekh">
    
    <!---- aqui  ----> <a onclick="pesquisar500()"><div class="src__Wrapper-sc-hoteh-0 MvbCN spacey-image"><div class="src__Wrapper-sc-xr9q25-1 izLCEl"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
    <img loading="lazy" src="{{ section.settings.img_5 }}" alt="Ofertas do dia Americanas" class="src__LazyImage-sc-xr9q25-0 gcOFYs" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-13t9c07-0 src__Snap-sc-13t9c07-2 hFxekh">
      
      <!---- aqui  ----> <a onclick="pesquisar600()"><div class="src__Wrapper-sc-hoteh-0 MvbCN spacey-image"><div class="src__Wrapper-sc-xr9q25-1 izLCEl"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
      <img loading="lazy" src="{{ section.settings.img_6 }}" alt="Produtos internacionais" class="src__LazyImage-sc-xr9q25-0 gcOFYs" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-13t9c07-0 src__Snap-sc-13t9c07-2 hFxekh">
        
        <!---- aqui  ----> <a onclick="pesquisar700()"><div class="src__Wrapper-sc-hoteh-0 MvbCN spacey-image"><div class="src__Wrapper-sc-xr9q25-1 izLCEl"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
        <img loading="lazy" src="{{ section.settings.img_7 }}" alt="Cupons de desconto Americanas" class="src__LazyImage-sc-xr9q25-0 gcOFYs" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-13t9c07-0 src__Snap-sc-13t9c07-2 hFxekh">
          
          
          <!---- aqui  ----> <a onclick="pesquisar800()"><div class="src__Wrapper-sc-hoteh-0 MvbCN spacey-image"><div class="src__Wrapper-sc-xr9q25-1 izLCEl"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
          <img loading="lazy" src="{{ section.settings.img_8 }}" alt="Outlet Americanas" class="src__LazyImage-sc-xr9q25-0 gcOFYs" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-13t9c07-0 src__Snap-sc-13t9c07-2 hFxekh">
            
            <!---- aqui  ----> <a onclick="pesquisar900()"><div class="src__Wrapper-sc-hoteh-0 MvbCN spacey-image"><div class="src__Wrapper-sc-xr9q25-1 izLCEl"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
            <img loading="lazy" src="{{ section.settings.img_9 }}" alt="Descontos progressivos. Leve mais, pague menos" class="src__LazyImage-sc-xr9q25-0 gcOFYs" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-13t9c07-0 src__Snap-sc-13t9c07-2 hFxekh">
              
              <!---- aqui  ----> <a onclick="pesquisar1000()"><div class="src__Wrapper-sc-hoteh-0 MvbCN spacey-image"><div class="src__Wrapper-sc-xr9q25-1 izLCEl"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
              <img loading="lazy" src="{{ section.settings.img_10 }}" alt="Conheça as vantagens do Ame Digital" class="src__LazyImage-sc-xr9q25-0 gcOFYs" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-13t9c07-0 src__Snap-sc-13t9c07-2 dKfCWL">
                
                
                <!---- aqui  ----> <a onclick="pesquisar1100()"><div class="src__Wrapper-sc-hoteh-0 MvbCN spacey-image"><div class="src__Wrapper-sc-xr9q25-1 izLCEl"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
                <img loading="lazy" src="{{ section.settings.img_11 }}" alt="Gift cards de plataformas, Apps, jogos e mais" class="src__LazyImage-sc-xr9q25-0 gcOFYs" fetchpriority="low"></picture></div></div></a></div></div></div></div></div></div>




<script>
  function pesquisar100() {
    var searchTerm = '{{ section.settings.href_1 }}';
    window.location.href = '/search?q=' + encodeURIComponent(searchTerm);
  }
</script>

<script>
  function pesquisar200() {
    var searchTerm = '{{ section.settings.href_2 }}';
    window.location.href = '/search?q=' + encodeURIComponent(searchTerm);
  }
</script>


<script>
  function pesquisar300() {
    var searchTerm = '{{ section.settings.href_3 }}';
    window.location.href = '/search?q=' + encodeURIComponent(searchTerm);
  }
</script>

<script>
  function pesquisar400() {
    var searchTerm = '{{ section.settings.href_4 }}';
    window.location.href = '/search?q=' + encodeURIComponent(searchTerm);
  }
</script>

<script>
  function pesquisar500() {
    var searchTerm = '{{ section.settings.href_5 }}';
    window.location.href = '/search?q=' + encodeURIComponent(searchTerm);
  }
</script>

<script>
  function pesquisar600() {
    var searchTerm = '{{ section.settings.href_6 }}';
    window.location.href = '/search?q=' + encodeURIComponent(searchTerm);
  }
</script>

<script>
  function pesquisar700() {
    var searchTerm = '{{ section.settings.href_7 }}';
    window.location.href = '/search?q=' + encodeURIComponent(searchTerm);
  }
</script>

<script>
  function pesquisar800() {
    var searchTerm = '{{ section.settings.href_8 }}';
    window.location.href = '/search?q=' + encodeURIComponent(searchTerm);
  }
</script>

<script>
  function pesquisar900() {
    var searchTerm = '{{ section.settings.href_9 }}';
    window.location.href = '/search?q=' + encodeURIComponent(searchTerm);
  }
</script>

<script>
  function pesquisar1000() {
    var searchTerm = '{{ section.settings.href_10 }}';
    window.location.href = '/search?q=' + encodeURIComponent(searchTerm);
  }
</script>

<script>
  function pesquisar1100() {
    var searchTerm = '{{ section.settings.href_11 }}';
    window.location.href = '/search?q=' + encodeURIComponent(searchTerm);
  }
</script>

                