<style>
#radeoniconsmmm {display: none;}

  @media screen and (max-width: 767px){

    #radeoniconsmmm {display: block;}
  }
  
</style>

{% schema %}
{
  "name": "Ame/IconesPadrao",
  "settings": [
    {
      "type": "text",
      "label": "URL do icon",
      "id": "img_1"
    },
    {
      "type": "text",
      "label": "URL do icon",
      "id": "img_2"
    },
    {
      "type": "text",
      "label": "URL do icon",
      "id": "img_3"
    },
    {
      "type": "text",
      "label": "URL do icon",
      "id": "img_4"
    },
    {
      "type": "text",
      "label": "URL do icon",
      "id": "img_5"
    },
    {
      "type": "text",
      "label": "URL do icon",
      "id": "img_6"
    },
    {
      "type": "text",
      "label": "URL do icon",
      "id": "img_7"
    },
    {
      "type": "text",
      "label": "URL do icon",
      "id": "img_8"
    },
    {
      "type": "text",
      "label": "URL do icon",
      "id": "img_9"
    },
    {
      "type": "text",
      "label": "URL do icon",
      "id": "img_10"
    },
    {
      "type": "text",
      "label": "URL do icon",
      "id": "img_11"
    }
  ],
  "presets": [
    {
      "name": "Padrão",
      "category": "Custom"
    }
  ]
}
{% endschema %}



<div id="radeoniconsmmm" data-position="maintop3"><div width="28.571428571428573" class="src__Wrapper-sc-10gh7gg-0 iOhmLW"><div class="src__View-sc-13t9c07-0 src__Wrapper-sc-13t9c07-1 gLZuLV"><div class="src__View-sc-13t9c07-0 src__CollectionUI-sc-13t9c07-4 iLOsRt"><div class="src__View-sc-13t9c07-0 src__WrapperItems-sc-13t9c07-3 fGHnLd"><div class="src__View-sc-13t9c07-0 src__Snap-sc-13t9c07-2 hFxekh"><a href="/pages/categorias" ><div class="src__Wrapper-sc-hoteh-0 MvbCN spacey-image"><div class="src__Wrapper-sc-xr9q25-1 izLCEl"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
  <img loading="lazy" src="{{ section.settings.img_1 }}" alt="natal" class="src__LazyImage-sc-xr9q25-0 gcOFYs" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-13t9c07-0 src__Snap-sc-13t9c07-2 hFxekh"><a href="/pages/categorias" ><div class="src__Wrapper-sc-hoteh-0 MvbCN spacey-image"><div class="src__Wrapper-sc-xr9q25-1 izLCEl"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
    <img loading="lazy" src="{{ section.settings.img_2 }}" alt="Baixe o App Americanas" class="src__LazyImage-sc-xr9q25-0 gcOFYs" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-13t9c07-0 src__Snap-sc-13t9c07-2 hFxekh"><a href="/pages/categorias" ><div class="src__Wrapper-sc-hoteh-0 MvbCN spacey-image"><div class="src__Wrapper-sc-xr9q25-1 izLCEl"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
    <img loading="lazy" src="{{ section.settings.img_3 }}" alt="Encontre as lojas mais próximas e receba em até 3 horas" class="src__LazyImage-sc-xr9q25-0 gcOFYs" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-13t9c07-0 src__Snap-sc-13t9c07-2 hFxekh"><a href="/pages/categorias" ><div class="src__Wrapper-sc-hoteh-0 MvbCN spacey-image"><div class="src__Wrapper-sc-xr9q25-1 izLCEl"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
  <img loading="lazy" src="{{ section.settings.img_4 }}" alt="Americanas Mercado" class="src__LazyImage-sc-xr9q25-0 gcOFYs" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-13t9c07-0 src__Snap-sc-13t9c07-2 hFxekh"><a href="/pages/categorias" ><div class="src__Wrapper-sc-hoteh-0 MvbCN spacey-image"><div class="src__Wrapper-sc-xr9q25-1 izLCEl"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
    <img loading="lazy" src="{{ section.settings.img_5 }}" alt="Ofertas do dia Americanas" class="src__LazyImage-sc-xr9q25-0 gcOFYs" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-13t9c07-0 src__Snap-sc-13t9c07-2 hFxekh"><a href="/pages/categorias" ><div class="src__Wrapper-sc-hoteh-0 MvbCN spacey-image"><div class="src__Wrapper-sc-xr9q25-1 izLCEl"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
      <img loading="lazy" src="{{ section.settings.img_6 }}" alt="Produtos internacionais" class="src__LazyImage-sc-xr9q25-0 gcOFYs" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-13t9c07-0 src__Snap-sc-13t9c07-2 hFxekh"><a href="/pages/categorias" ><div class="src__Wrapper-sc-hoteh-0 MvbCN spacey-image"><div class="src__Wrapper-sc-xr9q25-1 izLCEl"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
        <img loading="lazy" src="{{ section.settings.img_7 }}" alt="Cupons de desconto Americanas" class="src__LazyImage-sc-xr9q25-0 gcOFYs" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-13t9c07-0 src__Snap-sc-13t9c07-2 hFxekh"><a href="/pages/categorias" ><div class="src__Wrapper-sc-hoteh-0 MvbCN spacey-image"><div class="src__Wrapper-sc-xr9q25-1 izLCEl"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
          <img loading="lazy" src="{{ section.settings.img_8 }}" alt="Outlet Americanas" class="src__LazyImage-sc-xr9q25-0 gcOFYs" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-13t9c07-0 src__Snap-sc-13t9c07-2 hFxekh"><a href="/pages/categorias" ><div class="src__Wrapper-sc-hoteh-0 MvbCN spacey-image"><div class="src__Wrapper-sc-xr9q25-1 izLCEl"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
            <img loading="lazy" src="{{ section.settings.img_9 }}" alt="Descontos progressivos. Leve mais, pague menos" class="src__LazyImage-sc-xr9q25-0 gcOFYs" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-13t9c07-0 src__Snap-sc-13t9c07-2 hFxekh"><a href="/pages/categorias" ><div class="src__Wrapper-sc-hoteh-0 MvbCN spacey-image"><div class="src__Wrapper-sc-xr9q25-1 izLCEl"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
              <img loading="lazy" src="{{ section.settings.img_10 }}" alt="Conheça as vantagens do Ame Digital" class="src__LazyImage-sc-xr9q25-0 gcOFYs" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-13t9c07-0 src__Snap-sc-13t9c07-2 dKfCWL"><a href="/pages/categorias" ><div class="src__Wrapper-sc-hoteh-0 MvbCN spacey-image"><div class="src__Wrapper-sc-xr9q25-1 izLCEl"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
                <img loading="lazy" src="{{ section.settings.img_11 }}" alt="Gift cards de plataformas, Apps, jogos e mais" class="src__LazyImage-sc-xr9q25-0 gcOFYs" fetchpriority="low"></picture></div></div></a></div></div></div></div></div></div>






                