{% schema %}
{
  "name": "Ame Cetegorias",
  "settings": [
    
    {
      "type": "text",
      "label": "Imagem 1",
      "id": "image_1"
    },
    {
      "type": "text",
      "label": "1 - Termo da pesquisa!",
      "id": "href_1"
    },
    {
      "type": "text",
      "label": "Imagem 2",
      "id": "image_2"
    },
    {
      "type": "text",
      "label": "2 - Termo da pesquisa!",
      "id": "href_2"
    },
    {
      "type": "text",
      "label": "Imagem 3",
      "id": "image_3"
    },
    {
      "type": "text",
      "label": "3 - Termo da pesquisa!",
      "id": "href_3"
    },
    {
      "type": "text",
      "label": "Imagem 4",
      "id": "image_4"
    },
    {
      "type": "text",
      "label": "4 - Termo da pesquisa!",
      "id": "href_4"
    },
    {
      "type": "text",
      "label": "Imagem 5",
      "id": "image_5"
    },
    {
      "type": "text",
      "label": "5 - Termo da pesquisa!",
      "id": "href_5"
    },
    {
      "type": "text",
      "label": "Imagem 6",
      "id": "image_6"
    },
    {
      "type": "text",
      "label": "6 - Termo da pesquisa!",
      "id": "href_6"
    },
    {
      "type": "text",
      "label": "Imagem 7",
      "id": "image_7"
    },
    {
      "type": "text",
      "label": "7 - Termo da pesquisa!",
      "id": "href_7"
    },
    {
      "type": "text",
      "label": "Imagem 8",
      "id": "image_8"
    },
    {
      "type": "text",
      "label": "8 - Termo da pesquisa!",
      "id": "href_8"
    },
    {
      "type": "text",
      "label": "Imagem 9",
      "id": "image_9"
    },
    {
      "type": "text",
      "label": "9 - Termo da pesquisa!",
      "id": "href_9"
    },
    {
      "type": "text",
      "label": "Imagem 10",
      "id": "image_10"
    },
    {
      "type": "text",
      "label": "10 - Termo da pesquisa!",
      "id": "href_10"
    },
    {
      "type": "text",
      "label": "Imagem 11",
      "id": "image_11"
    },
    {
      "type": "text",
      "label": "11 - Termo da pesquisa!",
      "id": "href_11"
    }
  ],
  "presets": [
    {
      "name": "Bloco de Imagens",
      "category": "Imagens"
    }
  ]
}
{% endschema %}





<style>

  #iconespadrao {display: none;}
  @media screen and (min-width: 768px){
    #iconespadrao {display: block;}
  }
</style>


<div id="iconespadrao" style="margin-top: 20px;    max-height: 135px" data-position="contenttop4"><div><div class="grid__StyledGrid-sc-1man2hx-0 imOqUG src__StyledGrid-sc-1icsx5y-0 drnfxw"><div class="col__StyledCol-sc-1snw5v3-0 eKusSX src__StyledCol-sc-1icsx5y-1 ivOpzk"><div class="src__Wrapper-sc-1452l36-0 kmMrFN"><div class="src__View-sc-1h87wse-0 src__Wrapper-sc-1h87wse-2 bpbvXO"><div class="src__View-sc-1h87wse-0 src__CollectionUI-sc-1h87wse-12 ggoqcC"><div class="src__View-sc-1h87wse-0 src__WrapperItems-sc-1h87wse-11 gABTvw"><div class="src__View-sc-1h87wse-0 src__Snap-sc-1h87wse-3 eLAKcW card"><a onclick="pesquisar1()"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 eQgTeb"><picture class="src__Picture-sc-xr9q25-2 jAziSf"><img loading="lazy" src="{{ section.settings.image_1 }}" alt="telefonia" class="src__LazyImage-sc-xr9q25-0 epkVxo" fetchpriority="low"></picture></div><a style="display: none;" class="src__Title-sc-1nfceik-1 ddNMHE">telefonia</a></div></a></div><div id="STR1" class="src__View-sc-1h87wse-0 src__Snap-sc-1h87wse-3 eLAKcW card"><a onclick="pesquisar2()"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 eQgTeb"><picture class="src__Picture-sc-xr9q25-2 jAziSf"><img loading="lazy" src="{{ section.settings.image_2 }}" alt="climatização" class="src__LazyImage-sc-xr9q25-0 epkVxo" fetchpriority="low"></picture></div><a style="display: none;" class="src__Title-sc-1nfceik-1 ddNMHE">climatização</a></div></a></div><div class="src__View-sc-1h87wse-0 src__Snap-sc-1h87wse-3 eLAKcW card"><a onclick="pesquisar3()"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 eQgTeb"><picture class="src__Picture-sc-xr9q25-2 jAziSf"><img loading="lazy" src="{{ section.settings.image_3 }}" alt="eletroportáteis" class="src__LazyImage-sc-xr9q25-0 epkVxo" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-1h87wse-0 src__Snap-sc-1h87wse-3 eLAKcW card"><a  onclick="pesquisar4()" ><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 eQgTeb"><picture class="src__Picture-sc-xr9q25-2 jAziSf"><img loading="lazy" src="{{ section.settings.image_4 }}" alt="beleza e perfumaria" class="src__LazyImage-sc-xr9q25-0 epkVxo" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-1h87wse-0 src__Snap-sc-1h87wse-3 eLAKcW card"><a onclick="pesquisar5()"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 eQgTeb"><picture class="src__Picture-sc-xr9q25-2 jAziSf"><img loading="lazy" src="{{ section.settings.image_5 }}" alt="móveis" class="src__LazyImage-sc-xr9q25-0 epkVxo" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-1h87wse-0 src__Snap-sc-1h87wse-3 eLAKcW card"><a onclick="pesquisar6()"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 eQgTeb"><picture class="src__Picture-sc-xr9q25-2 jAziSf"><img loading="lazy" src="{{ section.settings.image_6 }}" alt="utilidades domésticas" class="src__LazyImage-sc-xr9q25-0 epkVxo" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-1h87wse-0 src__Snap-sc-1h87wse-3 eLAKcW card"><a onclick="pesquisar7()"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 eQgTeb"><picture class="src__Picture-sc-xr9q25-2 jAziSf"><img loading="lazy" src="{{ section.settings.image_7 }}" alt="livros" class="src__LazyImage-sc-xr9q25-0 epkVxo" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-1h87wse-0 src__Snap-sc-1h87wse-3 eLAKcW card"><a onclick="pesquisar8()"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 eQgTeb"><picture class="src__Picture-sc-xr9q25-2 jAziSf"><img loading="lazy" src="{{ section.settings.image_8 }}" alt="brinquedos" class="src__LazyImage-sc-xr9q25-0 epkVxo" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-1h87wse-0 src__Snap-sc-1h87wse-3 eLAKcW card"><a onclick="pesquisar9()"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 eQgTeb"><picture class="src__Picture-sc-xr9q25-2 jAziSf"><img loading="lazy" src="{{ section.settings.image_9 }}" alt="áudio e vídeo" class="src__LazyImage-sc-xr9q25-0 epkVxo" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-1h87wse-0 src__Snap-sc-1h87wse-3 eLAKcW card"><a onclick="pesquisar10()"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 eQgTeb"><picture class="src__Picture-sc-xr9q25-2 jAziSf"><img loading="lazy" src="{{ section.settings.image_10 }}" alt="construção e ferramentas" class="src__LazyImage-sc-xr9q25-0 epkVxo" fetchpriority="low"></picture></div></div></a></div><div class="src__View-sc-1h87wse-0 src__Snap-sc-1h87wse-3 eLAKcW card"><a onclick="pesquisar11()"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 eQgTeb"><picture class="src__Picture-sc-xr9q25-2 jAziSf">
<img loading="lazy" src="{{ section.settings.image_11 }}" alt="notebooks" class="src__LazyImage-sc-xr9q25-0 epkVxo" fetchpriority="low"></picture></div></div></a></div></div></div></div></div></div></div></div><div><div class="grid__StyledGrid-sc-1man2hx-0 imOqUG src__StyledGrid-sc-1icsx5y-0 drnfxw"><div class="col__StyledCol-sc-1snw5v3-0 fakODz src__StyledCol-sc-1icsx5y-1 ivOpzk"><div class="src__Wrapper-sc-1nfceik-0 fXraqK spacey-image"><div class="src__Wrapper-sc-xr9q25-1 cVPmNe">
                        </div></div></div></div></div></div>




<script>
  function pesquisar1() {
    var searchTerm = '{{ section.settings.href_1 }}';
    window.location.href = '/search?q=' + encodeURIComponent(searchTerm);
  }
</script>

<script>
  function pesquisar2() {
    var searchTerm = '{{ section.settings.href_2 }}';
    window.location.href = '/search?q=' + encodeURIComponent(searchTerm);
  }
</script>


<script>
  function pesquisar3() {
    var searchTerm = '{{ section.settings.href_3 }}';
    window.location.href = '/search?q=' + encodeURIComponent(searchTerm);
  }
</script>

<script>
  function pesquisar4() {
    var searchTerm = '{{ section.settings.href_4 }}';
    window.location.href = '/search?q=' + encodeURIComponent(searchTerm);
  }
</script>

<script>
  function pesquisar5() {
    var searchTerm = '{{ section.settings.href_5 }}';
    window.location.href = '/search?q=' + encodeURIComponent(searchTerm);
  }
</script>

<script>
  function pesquisar6() {
    var searchTerm = '{{ section.settings.href_6 }}';
    window.location.href = '/search?q=' + encodeURIComponent(searchTerm);
  }
</script>

<script>
  function pesquisar7() {
    var searchTerm = '{{ section.settings.href_7 }}';
    window.location.href = '/search?q=' + encodeURIComponent(searchTerm);
  }
</script>

<script>
  function pesquisar8() {
    var searchTerm = '{{ section.settings.href_8 }}';
    window.location.href = '/search?q=' + encodeURIComponent(searchTerm);
  }
</script>

<script>
  function pesquisar9() {
    var searchTerm = '{{ section.settings.href_9 }}';
    window.location.href = '/search?q=' + encodeURIComponent(searchTerm);
  }
</script>

<script>
  function pesquisar10() {
    var searchTerm = '{{ section.settings.href_10 }}';
    window.location.href = '/search?q=' + encodeURIComponent(searchTerm);
  }
</script>

<script>
  function pesquisar11() {
    var searchTerm = '{{ section.settings.href_11 }}';
    window.location.href = '/search?q=' + encodeURIComponent(searchTerm);
  }
</script>